.collapseButton {
    all: unset;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.collapseButton-icon {
    width: 16px;
    height: 16px;
}

.collapseButton:focus {
    box-shadow: var(--input-active-shadow);
    border-radius: var(--input-border-radius);
}
