.dali {
    display: flex;
    gap: 12px;
    height: 100%;
}

.dali .card {
    max-width: initial;
    margin-bottom: 0px;
}

.dali-list {
    width: 100%;
    overflow-y: auto;

    @media (min-width: 991px) {
        width: 280px;
    }
}

.dali-content {
    border: 1px solid var(--border-color);
    padding: 12px;
    width: 100%;
    border-radius: var(--card-border-radius);
    background: var(--background-accent-color-hover);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.dali-groupParam {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dali-groupParam-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dali-groupParam-editor {
    flex: 1;
    min-width: 0;
}

.dali-groupParam-editor .input {
    width: 100%;
}

.dali-contentLoader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dali-busMonitorContent {
    height: 500px;
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);
    background: var(--background-color);
    overflow: scroll;
    padding-left: 10px;
    font-family: monospace;
}

.dali-busMonitorContent div {
    white-space: pre;
}

.dali-busMonitorHeader {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 5px;
}
