svg-editor {
    flex-grow: 1;
    height: 1px;

    .form-group {
        &.required {
            .control-label {
                &:after {
                    content:"*";
                    color:red;
                    padding-left: 5px;
                }
            }
        }
    }

    legend {
        margin-bottom: 0px;
        padding-top: 0px;
    }
}

svg-upload {
    input[type="file"] {
        display: inline-block;
    }
    button {
        display: inline-block;
    }
}

div.svg-edit-visual {
    display: block;
    overflow: hidden;
    height: 100%;
    

    fieldset {
        height: 100%;

        &.result {
            width: 100%;
            height: 100%;

            svg {
                width: 100%;
                height: 100%;

                .selected {
                    animation: blinker 1s linear infinite;
                }

                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }

                path,
                text,
                tspan,
                circle {
                    cursor: pointer;
                }

                desc {
                    display: none;
                }
            }
        }

    }
}

div.svg-edit-result {
    height: 100%;
}

div.svg-edit-right-panel {
    margin-bottom: 10px;

    @media (min-width: 992px) {
        padding-left: 0px;
    }

    legend {
        display:flex;
        align-items: center;

        span {
            flex-grow:1;
        }
    }
}

div.svg-edit-left-panel {
    display:flex;
    flex-direction: column;

    @media (min-width: 992px) {
        height: 100%;
    }
}

div.svg-edit-params-json {
    display:flex;
    flex-direction: column;
    height: 100%;

    @media(max-width:767px) {
        padding-bottom: 10px;
    }

    .CodeMirror {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-grow: 1;
    }
}

svg-view {
    display: block;

    .switch {
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}

pulse-spinner {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 20px;

    .pulse-spinner {
        margin: 0;
        background-color: #222;
    }
}
