[submodule "app/lib/css-spinners"]
	path = app/lib/css-spinners
	url = https://github.com/jlong/css-spinners.git
[submodule "app/lib/angular-spectrum-colorpicker"]
	path = app/lib/angular-spectrum-colorpicker
	url = https://github.com/wirenboard/angular-spectrum-colorpicker.git
[submodule "app/lib/angular-ui-codemirror"]
	path = app/lib/angular-ui-codemirror
	url = https://github.com/angular-ui/ui-codemirror.git
