node_modules
dist
.eslintcache
*.tgz
*.tar.*
.tmp
.sass-cache
npm-debug.log
.tern-port

debian/files
debian/wb-mqtt-homeui.debhelper.log
debian/wb-mqtt-homeui.substvars
debian/wb-mqtt-homeui/

*.deb

grunt.log
.fuse*
coverage
*.tsv
.vscode
.idea
*.env

.coveragerc
.prettierrc
.config
.coverage
coverage.xml
__pycache__
*.pyc
