<div class="events-page" ng-class="{ 'fullscreen': $ctrl.fullscreen }">
    <!-- Header -->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                <span>{{ 'events.labels.events_page' | translate }}</span>
                <div class="pull-right button-group">
                    <button class="btn btn-danger" ng-click="$ctrl.clearEvents()" translate>
                        {{ 'events.buttons.clear_events' }}
                    </button>
                    <button class="btn btn-primary" ui-sref="events-edit" translate>
                        {{ 'events.buttons.edit_events' }}
                    </button>
                </div>
            </h1>
        </div>
    </div>

    <!-- Events table -->
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped events-table">
                <thead>
                    <tr>
                        <th translate>{{ 'events.labels.name' }}</th>
                        <th translate>{{ 'events.labels.message' }}</th>
                        <th translate>{{ 'events.labels.timestamp' }}</th>
                        <th translate>{{ 'events.labels.actions' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in $ctrl.triggeredEvents track by $index">
                        <td>{{ event.topic.name }}</td>
                        <td>{{ event.message }}</td>
                        <td>{{ event.timestamp }}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="$ctrl.deleteEvent($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!$ctrl.triggeredEvents.length">
                        <td colspan="4" translate>{{ 'events.labels.no_events' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
