<div class="stretch-height logs-page">

    <h1 class="page-header" translate>
        {{'logs.title'}}
    </h1>

    <div class="alert alert-danger alert-dismissible" role="alert"
         ng-hide="$ctrl.haveRights">{{'configurations.labels.access-notice' | translate}}
    </div>

    <div ng-if="$ctrl.haveRights" class="row" ng-cloak ng-show="!$ctrl.waitBootsAndServices">
        <div class="col-xs-12 col-md-6 col-lg-5">
            <ui-select class="log-filter"
                    ng-model="$ctrl.selectedService"
                    theme="bootstrap"
                    title="{{'logs.labels.choose-service' | translate}}"
                    append-to-body="true">
                <ui-select-match placeholder="{{'logs.labels.choose-service' | translate}}">{{ $select.selected.desc }}</ui-select-match>
                <ui-select-choices repeat="service in ($ctrl.services | filter: $select.search) track by service.name">
                    <div ng-bind-html="service.desc | hilite: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <ui-select class="log-filter"
                       ng-model="$ctrl.selectedBoot"
                       theme="bootstrap"
                       title="{{'logs.labels.choose-boot' | translate}}"
                       append-to-body="true">
                <ui-select-match placeholder="{{'logs.labels.choose-boot' | translate}}">{{ $select.selected.desc }}</ui-select-match>
                <ui-select-choices repeat="boot in ($ctrl.boots | filter: {desc: $select.search}) track by boot.hash">
                    <div ng-bind-html="boot.desc | hilite: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>


        <div class="col-xs-12 col-md-6 col-lg-3">
            <select class="form-control log-filter"
                    ng-model="$ctrl.selectedStartDateMs"
                    ng-options="date.date as date.name for date in $ctrl.logDates"
                    ng-change="$ctrl.periodChanged()">
            </select>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-5">
            <div class="log-filter" ng-dropdown-multiselect="" options="$ctrl.availableLevels" selected-model="$ctrl.selectedLevels" extra-settings="$ctrl.levelsSettings" translation-texts="$ctrl.levelsTexts"></div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-5 flex log-filter">
            <div class="input-group" style="flex-grow: 1;">
                <input class="form-control" placeholder="{{'logs.labels.pattern' | translate}}" ng-model="$ctrl.messagePattern" ng-keyup="$event.keyCode == 13 && $ctrl.reload()"></input>
                <span class="input-group-btn">
                    <label ng-model="$ctrl.caseSensitive" class="btn btn-default logs-button" title="{{'logs.buttons.case' | translate}}" uib-btn-checkbox>Aa</label>
                    <label ng-model="$ctrl.regex" class="btn btn-default logs-button" title="{{'logs.buttons.regex' | translate}}" uib-btn-checkbox>Re  </label>
                </span>
            </div>
            <a style="font-size: 12pt; padding: 7px 0px 0px 3px;"
                class="glyphicon glyphicon-question-sign"
                title="{{'logs.labels.help' | translate}}"
                href="https://unicode-org.github.io/icu/userguide/strings/regexp.html"
                target="_blank"
                rel="noopener noreferrer">
            </a>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 flex">
            <button class="btn btn-success logs-load-button logs-button" style="display: flex;"
            ng-disabled="!$ctrl.selectedBoot || !$ctrl.selectedService || (adapter.isLoading && !$ctrl.canCancelLoad)"
            ng-click="$ctrl.reloadOrStopLoading()">
                <div ng-show="adapter.isLoading" class="spinner" style="padding: 0px; position: absolute;">
                    <span class="spinner-loader" style="font-size: 5px;" translate>{{'logs.labels.loading'}}</span>
                </div>
                <span style="width: 100%;">
                    {{(adapter.isLoading && $ctrl.canCancelLoad ? 'logs.buttons.cancel' : 'logs.buttons.load') | translate}}
                </span>
            </button>
            <button class="btn btn-default pull-right logs-button"
                    ng-disabled="adapter.isLoading || !$ctrl.selectedBoot || !$ctrl.selectedService || !$ctrl.logs.length"
                    ng-click="$ctrl.save()"
                    title="{{'logs.buttons.save' | translate}}">
                    <i class="glyphicon glyphicon-download-alt"></i>
            </button>
        </div>
    </div>

    <div ng-hide="$ctrl.haveRights" id="logs-wrapper" ng-cloak ng-show="!$ctrl.waitBootsAndServices && $ctrl.logs.length" on-resize="$ctrl.logsResize(size)">
        <table id="logs-table" ui-scroll-viewport>
            <tr ui-scroll="log in datasource" adapter="adapter">
                <td class="logs-time-column">
                    <span class="logs-time">{{log.time | date : "dd-MM-yyyy HH:mm:ss.sss"}}</span>
                    <span ng-if="log.service" class="logs-service">[{{log.service}}]</span>
                </td>
                <td class="logs-message-column"
                    ng-style="{color: {0: 'red', 1: 'red', 2:'red', 3:'red', 4:'#997300'}[log.level], 'font-weight': {7: 'bold'}[log.level]}">{{log.msg}}</td>
            </tr>
        </table>
    </div>

    <div ng-if="$ctrl.haveRights" class="col-xs-12 spinner" ng-show="$ctrl.waitBootsAndServices && $ctrl.enableSpinner">
        <span class="spinner-loader" translate>{{'logs.labels.loading'}}</span>
    </div>

</div>

