<div ui-view>
<h1 class="page-header" translate>{{'rules.title'}}</h1>


<div class="alert alert-danger alert-dismissible" role="alert"
     ng-hide="$ctrl.haveRights">{{'rules.labels.notice' | translate}}
        <a ui-sref="accessLevel">{{'rules.labels.access' | translate}}</a>.
</div>
<section ng-if="$ctrl.haveRights">
    <a ui-sref="rules-new" ui-sref-active="active" class="btn btn-success" translate>
        {{'rules.buttons.new'}}
    </a>
    <div class="spinner-floating">
        <div class="spinner" ng-show="spinnerActive('editorProxy')" ng-cloak>
            <span class="spinner-loader" translate>{{'rules.labels.loading'}}</span>
        </div>
    </div>
    <br><br>
    <div ng-cloak
         ng-show="$ctrl.scripts.length"
         ng-class="{'pointer-none':spinnerActive('editorProxy')}">
        <div>

            <div class="row" ng-repeat="script in $ctrl.scripts">
                <div class="col-xs-4">
                    <a ui-sref="rules-edit({ path: script.virtualPath })"
                       ng-hide="$ctrl.renamedScripts[$index]">
                        {{ script.virtualPath }}
                    </a>
                    <input type="text" class="form-control" ng-model="script.tempName" ng-show="$ctrl.renamedScripts[$index]">
                </div>

                <div class="col-xs-8">
                    <button class="icon-button" ng-confirm="{{'rules.prompt.delete' | translate: { name: script.virtualPath } }}" confirmed-click="$ctrl.deleteScript($index)" title="{{'rules.buttons.delete' | translate}}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
