.deviceTab-updateIconAnimationRotate {
    animation: rotate 2s linear infinite;
}

.deviceTab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 9px 10px 20px;
    gap: 3px;
}

.deviceTab-title {
    flex-grow: 1;
}

.deviceTab .glyphicon-refresh {
    color: #bd882b;
}

.deviceTab-withError .glyphicon-exclamation-sign {
    color: #a90329;
}

.deviceTab-withWarning .glyphicon-exclamation-sign {
    color: #826430;
}
