.loader-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loader {
    width: 60px;
    height: 60px;
    fill: var(--alert-color);
    animation: spin 1s linear infinite;
    border: 0;
}
