.dashboardList-sortHandle {
    color: var(--text-color);
    width: 18px;
    cursor: pointer;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardList-cellContainer {
    display: flex;
    justify-content: flex-end;
}

.dashboardList-iconWrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dashboardList-icon {
    color: var(--text-color);
    width: 18px;
    text-align: center;
    display: flex;
}
