<div ng-switch on="control.metaType">
  <div control-range ng-switch-when="range"></div>
  <div control-pushbutton ng-switch-when="pushbutton"></div>
  <div control-switch ng-switch-when="switch"></div>
  <div control-value ng-switch-when="temperature"></div>
  <div control-value ng-switch-when="rel_humidity"></div>
  <div control-value ng-switch-when="atmospheric_pressure"></div>
  <div control-value ng-switch-when="rainfall"></div>
  <div control-value ng-switch-when="wind_speed"></div>
  <div control-value ng-switch-when="power"></div>
  <div control-value ng-switch-when="power_consumption"></div>
  <div control-value ng-switch-when="voltage"></div>
  <div control-value ng-switch-when="water_flow"></div>
  <div control-value ng-switch-when="water_consumption"></div>
  <div control-value ng-switch-when="value"></div>
  <div control-rgb ng-switch-when="rgb" class="control-rgb"></div>
  <div control-textbox ng-switch-default></div>
</div>
