web-ui-manage {
    
}

web-ui-select {
    display: inline-block;
    vertical-align: middle;

    .ui-select-container {
        position: relative;

        .ui-select-match {

            &.btn-default-focus {
                background: none;
                border: none;
                color: #fff;
                box-shadow: none;
            }

            .ui-select-toggle {
                background: transparent;
                border: none;
                color: #fff;
        
                &:hover,
                &:focus {
                    background: transparent;
                    border: none;
                }
            }
        }

        .ui-select-choices {
            position: absolute;
            z-index: 100;
            top: 35px;
            left: inherit;
            right: -22px;
            float: none;

            &.dropdown-menu {
                background: #222;
                border: 1px solid #222;
                box-shadow: none;
                padding: 0;
            }

           .ui-select-choices-row {
                > span {
                    background: #222;
                    color: #fff;

                    &:hover {
                        color: rgba($color: #fff, $alpha: 0.7);
                    }
                }

                &.active {
                    > span {
                        background: #fff;
                        color: #222;
                    }
                }
            }
        }

        .form-control {
            background: none;
            border: none;
            color: #fff;

            height: 19px;
            padding: 0px 12px;
        }

        .ui-select-search {
            width: 1px;

            &.ui-select-search-hidden {
                display: none;
            }
        }
    }

}