.dashboard-container {
    gap: 18px;
    columns: 5;

    @media(max-width: 2000px) {
        columns: 4;
    }

    @media(max-width: 1500px) {
        columns: 3;
    }

    @media(max-width: 1280px) {
        columns: 2;
    }

    @media(max-width: 900px) {
        columns: 1;
    }
}

.hmi .dashboard-container {
    columns: 5;

    @media(max-width: 1980px) {
        columns: 4;
    }

    @media(max-width: 1600px) {
        columns: 3;
    }

    @media(max-width: 1200px) {
        columns: 2;
    }

    @media(max-width: 768px) {
        columns: 1;
    }
}

.dashboard-fullScreen {
    padding: 6px;
}

.dashboard-backButton {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

.dashboard-separator {
    margin: 10px 0;
    position: relative;
    min-height: 6px;
}

.dashboard-separator::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--input-border-color);
    transform: translateY(-50%);
}

.dashboard-separatorTitle {
    background: var(--background-color);
    z-index: 1111;
    position: relative;
    padding: 0 4px;
    margin-left: 6px;
}
