.wb-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0;
    cursor: pointer;
}

.wb-checkbox input:focus {
    transition: border-color 200ms linear, var(--input-active-shadow-transition);
    box-shadow: var(--input-active-shadow);
    z-index: 10;
}

.wb-checkbox input {
    margin: 0;
    cursor: pointer;
}

.wb-checkbox-button {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--input-background-color);
}

.wb-checkbox-button:hover {
    border-color: var(--input-border-hover-color);
    background-color: var(--input-hover-background-color);
}

.wb-checkbox-button-checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.wb-checkbox-button-checked:hover {
    background-color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}
