<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= APP_NAME %></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <%=htmlWebpackPlugin.files.chunksManifest%>
    <%=htmlWebpackPlugin.files.webpackManifest%>

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak],  .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
  </head>

  <body ng-app="realHomeuiApp" class="{{theme}}" ng-class="{ 'fullscreen': checkFullscreen(), 'hmi': isHMI }">
  <toast></toast>

  <double-bounce-spinner></double-bounce-spinner>
  <span id="https-setup-label" translate>{{'app.labels.setting-up-https'}}</span>

  <div id="overlay"></div>
  <div id="wrapper" class="fade" ng-class="{ 'show-console': consoleVisible }">
      <navigation></navigation>

      <div id="page-wrapper">
          <exp-check-widget></exp-check-widget>

          <div class="alert alert-danger" role="alert" ng-cloak ng-controller="AlertCtrl" ng-show="visible">
              <button type="button" class="close" ng-click="visible = false;"
                      aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span ng-bind-html="messageHtml"></span>
          </div>
          <% if (htmlWebpackPlugin.options.stableRelease) { %>
          <div class="alert alert-warning alert-dismissible" role="alert" ng-cloak ng-controller="AlertCtrl" ng-show="stableNotice">
            <button type="button" class="close" ng-click="closeStableNotice()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{'heading.stableNotice' | translate}}<a href="https://wirenboard.com/wiki/Wiren_Board_Firmware_Update#releases" draggable="false">testing</a>
          </div>
          <% } %>
          <!-- viewport for child view -->
          <div ng-show='stateIsLoading'>
              <strong translate>{{'heading.loading'}}</strong>
          </div>
          <ui-view ng-hide='stateIsLoading'></ui-view>
      </div>
      <!-- /#page-wrapper -->
  </div>

  <div ng-if="allowWbRulesDebug()">
      <div class="console ng-hide" ng-show="consoleVisible">
          <console></console>
          <button type="button" name="close" class="close"
                  ng-click="toggleConsole()">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
      </div>
  </div>

  </body>
</html>
