.dali-busParams .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dali-busParam {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dali-busParam-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dali-busParam-editor {
    flex: 1;
    min-width: 0;
}

.dali-busParam-editor .input {
    width: 100%;
}

.dali-commissioningProgress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.dali-commissioningProgress .wb-progress {
    flex-grow: 1;
    width: unset;
}
