.rulesConsole {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 345px;
    max-height: 100dvh;
    box-shadow: 2px 0 6px rgb(136, 136, 136, 1);
    background: var(--background-color);
    color: var(--text-color)
}

.rulesConsole-bottom {
    width: 100%;
}

.rulesConsole-resizer {
    position: absolute;
    z-index: 1;
    top: -5px;
    width: 100%;
    height: 8px;
    cursor: ns-resize;
    touch-action: none;
}

.rulesConsole-right .rulesConsole-resizer {
    height: 100%;
    width: 8px;
    left: -4px;
    cursor: w-resize;
}

.rulesConsole-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
    border-bottom: 1px solid var(--light-gray-color);
}

.rulesConsole-headerActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rulesConsole-separatorRight {
    border-right: 1px solid var(--light-gray-color);
    padding-right: 8px;
    height: 22px;
}

.rulesConsole-separatorLeft {
    border-left: 1px solid var(--light-gray-color);
    padding-left: 8px;
    height: 22px;
}

.rulesConsole-button {
    all: unset;
    position: relative;
    cursor: pointer;
    height: 20px;
    border-radius: var(--input-border-radius)
}

.rulesConsole-button:hover:not(:disabled) {
    color: var(--primary-color-hover);
}

.rulesConsole-button:focus {
    box-shadow: var(--input-active-shadow);
}

.rulesConsole-button:disabled {
    color: var(--gray-color);
    cursor: not-allowed;
}

.rulesConsole-filter {
    width: 140px;
}

.rulesConsole-icon {
    width: 20px;
    height: 20px;
}

.rulesConsole-iconActive {
    color: var(--primary-color);
}

.rulesConsole-close {
    margin-left: 12px;
}

.rulesConsole-content {
    width: 100%;
    overflow: auto;
    height: 100%;
}

.rulesConsole-content::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--scrollbar-background);
    width: 12px;
    display: none;
}

.rulesConsole-content:hover::-webkit-scrollbar,
.rulesConsole-content:focus::-webkit-scrollbar {
    display: block;
}

.rulesConsole-content::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
    border: 3px solid var(--scrollbar-background);
    border-radius: 8px;
}

.rulesConsole-content::-webkit-scrollbar-thumb:hover {
    border-width: 2px;
}

.rulesConsole-log {
    display: flex;
    white-space: pre-wrap;
    padding: 2px 12px;
    border-bottom: 1px solid var(--border-color);
}

.rulesConsole-logError {
    background: var(--alert-danger-background);
}

.rulesConsole-logWarn {
    background: var(--alert-warn-background);
}

.rulesConsole-logDebug {
    font-weight: bold;
}

.rulesConsole-logDate {
    width: 140px;
    display: flex;
    flex-shrink: 0;
}
