.textarea {
    border: 1px solid var(--input-border-color);
    background: var(--input-background);
    color: var(--input-color);
    border-radius: var(--input-border-radius);
    transition: background ease 300ms;
}

.textarea:focus {
    outline: var(--form-element-outline);
    outline-offset: var(--form-element-outline-offset);
    transition: border-color 200ms linear, var(--form-element-focus-transition);
}

.textarea-m {
    padding: 5px 12px;
}

.textarea-s {
    padding: 3px 8px;
}

.textarea-invalid {
    color: var(--danger-color);
    border-color: var(--danger-color);
}
