<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Wiren Board HomeUI</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toggle-switch-fix-chrome-527709/angular-toggle-switch.css" />
    <link rel="stylesheet" href="bower_components/spectrum/spectrum.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" type="text/css">
    <link rel="stylesheet" href="bower_components/css-spinners/css/spinner/spinner.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="homeuiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper" ng-class="{ 'show-console': consoleVisible }">

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller='NavigationCtrl'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Wiren Board HomeUI</a>


        <p class="navbar-text navbar-right connection-status">
			<span  class="" ng-class="(isConnected()) ? '' : 'label label-danger'" ng-bind="isConnected() ? 'Connected' : 'Disconnected'"></span>

        </p>

        </div>
        <div class="nav navbar-nav navbar-right">
        </div>



        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li ng-class="{ active: isActive('/') }">
              <a href="#/"><i class="glyphicon glyphicon-cog"></i> Home</a>
            </li>
<!--             <li ng-class="{ active: isActive('/dashboards') }" class="list-menu">
              <a href="#/dashboards"><i class="glyphicon glyphicon-dashboard"></i> Dashboards</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#dashboards-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="dashboards-menu" class="collapse">
                <li ng-repeat="dashboard in dashboards" dashboard-menu-item>
                </li>
              </ul>
            </li>
            <li ng-class="{ active: isActive('/devices') }">
              <a href="#/devices"><i class="glyphicon glyphicon-cog"></i> Devices</a>
            </li>
            <li ng-class="{ active: isActive('/rooms') }" class="list-menu">
              <a href="#/rooms"><i class="glyphicon glyphicon-home"></i> Rooms</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#rooms-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="rooms-menu" class="collapse">
                <li ng-repeat="room in rooms" room-menu-item></li>
              </ul>
            </li>
            <li ng-class="{ active: isActive('/widgets') }">
              <a href="#/widgets"><i class="glyphicon glyphicon-list-alt"></i> Widgets</a>
            </li>
            <li ng-class="{ active: isActive('/history') }">
              <a href="#/history"><i class="glyphicon glyphicon-stats"></i> History</a>
            </li> -->
            <li ng-class="{ active: isActive('/history/sampleAlarms/log/-/-') }">
              <a href="#/history/sampleAlarms/log/-/-"><i class="glyphicon glyphicon-stats"></i> Alarm History</a>
            </li>
<!--
            <li ng-class="{ active: isActive('/widget_templates') }">
              <a href="#/widget_templates"><i class="glyphicon glyphicon-list-alt"></i>Widget Templates</a>
            </li>
-->
<!--             <li ng-if="isConnected()" ng-class="{ active: isActive('/scripts') }" class="list-menu script-menu">
              <a href="#/scripts"><i class="glyphicon glyphicon-file"></i> Scripts</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#scripts-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="scripts-menu" class="collapse">
                <li>
                  <a href="#/scripts/new" ng-class="{ active: isActive('/scripts/new') }">New...</a>
                </li>
                <li ng-repeat="script in getScripts()">
                  <a href="#/scripts/edit/{{ script.virtualPath }}"
                     ng-class="{ active: isActive('/scripts/edit/{{ script.virtualPath }}'), error: !!script.error }">
                    {{ script.virtualPath }}
                    <span class="glyphicon glyphicon-alert" ng-show="!!script.error"></span>
                  </a>
                </li>
              </ul>
            </li>
            <li ng-if="isConnected()" class="list-menu">
              <a><i class="glyphicon glyphicon-flash"></i> Rules</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#rules-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="rules-menu" class="collapse">
                <li ng-repeat="rule in getRules()">
                  <a href="#/scripts/edit/{{ rule.virtualPath }}/D{{rule.line - 1}}:0">{{ rule.name }}</a>
                </li>
              </ul>
            </li>
            <li ng-if="isConnected()" class="list-menu">
              <a><i class="glyphicon glyphicon-scale"></i> Virtual Devices</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#vdevices-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="vdevices-menu" class="collapse">
                <li ng-repeat="vdev in getVirtualDevices()">
                  <a href="#/scripts/edit/{{ vdev.virtualPath }}/D{{vdev.line - 1}}:0">{{ vdev.name }}</a>
                </li>
              </ul>
            </li>
            <li ng-if="isConnected()" ng-class="{ active: isActive('/configs') }" class="list-menu config-menu">
              <a href="#/configs"><i class="glyphicon glyphicon-file"></i> Configs</a>
              <a href="javascript:;" data-toggle="collapse" data-target="#configs-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
              <ul id="configs-menu" class="collapse">
                <li ng-repeat="config in getConfigs()">
                  <a href="#/configs/edit{{ config.configPath }}"
                     ng-class="{ active: isActive('/configs/edit{{ config.configPath }}'), error: !!config.error }">
                    {{ config.title }}
                    <span class="glyphicon glyphicon-alert" ng-show="!!config.error"></span>
                  </a>
                </li>
              </ul>
            </li>
 -->        
            <li ng-if="isConnected()" ng-class="{ active: isActive('/configs') }" >
              <a href="#/configs/edit/etc/wb-rules/alarms.conf"
                 ng-class="{ active: isActive('/configs/edit/etc/wb-rules/alarms.conf'), error: !!config.error }">
                <i class="glyphicon glyphicon-file"></i>                 
                Alarm Configuration
                <span class="glyphicon glyphicon-alert" ng-show="!!config.error"></span>
              </a>
            </li> 
            <li ng-class="{ active: isActive('/settings') }">
              <a href="#/settings"><i class="glyphicon glyphicon-wrench"></i> System</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success" role="alert" ng-show='showCreated' ng-cloak>
                <strong>Changes</strong> successfully saved.
              </div>
              <div class="alert alert-danger" role="alert" ng-cloak ng-controller="AlertCtrl" ng-show="visible">
                <button type="button" class="close" ng-click="visible = false;"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <!-- <span class="sr-only">Error:</span> -->
                <span ng-bind-html="messageHtml"></span>
              </div>
              <div ng-view=""></div>
            </div>
          </div>
          <!-- /.row -->

          <!-- Page Footer -->
          <div class="row" style="height:40px;">
            <footer>
              <a href="http://contactless.ru"><img src='images/contactless.png' alt='Contactless' title='Contactless - Бесконтактные устройства' style="margin-right:15px;"></a>
              <a href="https://carbonfay.ru"><img src="images/carbonfay.png" alt="Carbonfay" title="Carbonfay/ on rails - Быстрая разработка корпоративных проектов" style="padding-left: 5px;"></a>
            </footer>
          </div>
          <!-- /footer -->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /#page-wrapper -->

    </div>

    <div class="console" ng-show="consoleVisible">
      <console></console>
      <button type="button" name="close" class="close"
              ng-click="consoleVisible = false">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>

    <button type="button" class="btn btn-default btn-lg show-console"
            ng-hide="consoleVisible"
            ng-click="consoleVisible = true">
      <span class="glyphicon glyphicon-wrench"></span>
    </button>

    <script src="lib/mqttws31.js"></script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="bower_components/c3/c3.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-toggle-switch-fix-chrome-527709/angular-toggle-switch.js"></script>

    <script src="bower_components/spectrum/spectrum.js"></script>
    <script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.js"></script>
    <script src="bower_components/angular-order-object-by/src/ng-order-object-by.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/c3-angular/c3js-directive.js"></script>

    <script src="scripts/3rdparty/angular-json-editor.js"></script>
    <script src="scripts/3rdparty/ui-bootstrap.js"></script>
    <script src="scripts/3rdparty/jsoneditor.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/errors.js"></script>
    <script src="scripts/services/mqttService.js"></script>
    <script src="scripts/services/dataService.js"></script>
    <script src="scripts/services/commonService.js"></script>
    <script src="scripts/services/editorProxy.js"></script>
    <script src="scripts/services/configEditorProxy.js"></script>
    <script src="scripts/services/historyProxy.js"></script>
    <script src="scripts/services/rpc.js"></script>
    <script src="scripts/services/gotoDefStart.js"></script>
    <script src="scripts/services/time.js"></script>
    <script src="scripts/services/spinner.js"></script>
    <script src="scripts/services/dumbtemplate.js"></script>
    <script src="scripts/services/pagestate.js"></script>
    <script src="scripts/directives/console.js"></script>
    <script src="scripts/controllers/alertController.js"></script>
    <script src="scripts/controllers/homeController.js"></script>
    <script src="scripts/controllers/deviceController.js"></script>
    <script src="scripts/controllers/roomController.js"></script>
    <script src="scripts/controllers/widgetController.js"></script>
    <script src="scripts/controllers/widgetTemplateController.js"></script>
    <script src="scripts/controllers/navigationController.js"></script>
    <script src="scripts/controllers/dashboardController.js"></script>
    <script src="scripts/controllers/settingController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/scriptController.js"></script>
    <script src="scripts/controllers/scriptsController.js"></script>
    <script src="scripts/controllers/historyController.js"></script>
    <script src="scripts/controllers/configsController.js"></script>
    <script src="scripts/controllers/configController.js"></script>
    <script src="scripts/controllers/firmwareController.js"></script>
    <script src="scripts/filters/metaTypeFilter.js"></script>
  </body>
</html>
