<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Wiren Board Web UI</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <%=htmlWebpackPlugin.files.chunksManifest%>
    <%=htmlWebpackPlugin.files.webpackManifest%>

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak],  .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
  </head>

  <body ng-app="realHomeuiApp" ng-class="{ 'hmi': isHMI }">
  <toast></toast>

  <double-bounce-spinner></double-bounce-spinner>

  <div id="wrapper" class="ng-hide" ng-class="{ 'show-console': consoleVisible }">

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller='NavigationCtrl'>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-click="toggleNavigation()">
                  <span class="sr-only" translate>{{'navigation.menu.toggle'}}</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand wb-navbar-brand" ui-sref="home">
                <img src="images/logo.svg" alt="Wiren Board Web UI">
              </a>
              <p class="navbar-text navbar-right connection-status">
                <span class="label label-custom" ng-class="roles.current.roles.isAdmin ? 'label label-custom label-danger' : 'label label-custom label-warning'"
                      ng-show="roles.current.roles.shortName"
                      title="{{'navigation.access.title' | translate}} {{roles.current.roles.name | translate}}">
                      <span class="mobile-screen-access-level">{{roles.current.roles.shortName | translate}}</span>
                      <span class="big-screen-access-level">{{'navigation.access.title' | translate}} {{roles.current.roles.name | translate}}</span>
                    </span>
                <span class="connected-status label label-success" ng-show="isConnected()" translate>{{'navigation.connection.active'}}</span>
                <span class="connected-status label label-danger" ng-show="!isConnected()" translate>{{'navigation.connection.inactive'}}</span>
              </p>
          </div>

          <div class="nav navbar-nav navbar-right ma-0"></div>

          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
                  <li>
                      <a href="javascript:" data-toggle="collapse" data-target="#dashboards-menu">
                          <i class="glyphicon glyphicon-wrench"></i> {{'navigation.menu.dashboards' | translate}}
                      </a>
                      <ul id="dashboards-menu" class="collapse in">
                          <li>
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref-active="active" ui-sref="dashboards" translate>{{'navigation.menu.list'}}</a>
                          </li>
                          <li ng-repeat="d in dashboards()" dashboard-menu-item>
                              <a data-toggle="collapse" ng-show="!d.svg.current.length" data-target=".navbar-ex1-collapse" ui-sref="dashboard({ id: d.id })" ui-sref-active="active">{{ d.name }}</a>
                              <a data-toggle="collapse" ng-show="d.svg.current.length" data-target=".navbar-ex1-collapse" ui-sref="dashboard-svg({ id: d.id })" ui-sref-active="active">{{ d.name }}</a>
                          </li>
                      </ul>
                  </li>
                  <li ui-sref-active="active" user-role="mto" current-role="roles.current.role">
                      <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="devices"><i class="glyphicon glyphicon-cog"></i> {{'navigation.menu.devices' | translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                      <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="widgets"><i class="glyphicon glyphicon-list-alt"></i> {{'navigation.menu.widgets' | translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                      <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="history"><i class="glyphicon glyphicon-stats"></i> {{'navigation.menu.history' | translate}}</a>
                  </li>
                  <li ng-if="isConnected()" ui-sref-active="active"
                      user-role="mtt" current-role="roles.current.role">
                      <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="rules"><i class="glyphicon glyphicon-file"></i> {{'navigation.menu.rules' | translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                      <a href="javascript:" data-toggle="collapse" data-target="#settings-menu">
                          <i class="glyphicon glyphicon-wrench"></i> {{'navigation.menu.settings' | translate}}
                      </a>
                      <ul id="settings-menu" class="collapse">
                          <li ng-show="isConnected()" user-role="mtt" current-role="roles.current.role">
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="configs" ui-sref-active="active">{{'navigation.menu.configs' | translate}}</a>
                          </li>
                          <li>
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="webUI" ui-sref-active="active">{{'navigation.menu.ui' | translate}}</a>
                          </li>
                          <li user-role="mtt" current-role="roles.current.role">
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="system" ui-sref-active="active">{{'navigation.menu.system' | translate}}</a>
                          </li>
                          <li>
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="MQTTChannels" ui-sref-active="active">{{'navigation.menu.channels' | translate}}</a>
                          </li>
                          <li ng-show="isConnected()" user-role="mtt" current-role="roles.current.role">
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="scan" ui-sref-active="active">{{'navigation.menu.scan' | translate}}</a>
                          </li>
                          <li>
                              <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="accessLevel" ui-sref-active="active">{{'navigation.menu.access' | translate}}</a>
                          </li>
                          <li user-role="mto" current-role="roles.current.role">
                            <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="logs">{{'navigation.menu.logs' | translate}}</a>
                          </li>
                      </ul>
                  </li>
                  <li ui-sref-active="active">
                      <a data-toggle="collapse" data-target=".navbar-ex1-collapse" ui-sref="help"><i class="glyphicon glyphicon-question-sign"></i> {{'navigation.menu.help' | translate}}</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>

      <div id="overlay"></div>

      <div id="page-wrapper">

                      <div class="alert alert-danger" role="alert" ng-cloak ng-controller="AlertCtrl" ng-show="visible">
                          <button type="button" class="close" ng-click="visible = false;"
                                  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span ng-bind-html="messageHtml"></span>
                      </div>
                      <% if (htmlWebpackPlugin.options.stableRelease) { %>
                      <div class="alert alert-warning alert-dismissible" role="alert" ng-cloak ng-controller="AlertCtrl" ng-show="stableNotice">
                        <button type="button" class="close" ng-click="closeStableNotice()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{'heading.stableNotice' | translate}}<a href="https://wirenboard.com/wiki/Wiren_Board_Firmware_Update#releases">testing</a>
                      </div>
                      <% } %>
                      <!-- viewport for child view -->
                      <div ng-show='stateIsLoading'>
                          <strong translate>{{'heading.loading'}}</strong>
                      </div>
                      <ui-view ng-hide='stateIsLoading'></ui-view>

      </div>
      <!-- /#page-wrapper -->

  </div>

  <div class="console ng-hide" ng-show="consoleVisible">
      <console></console>
      <button type="button" name="close" class="close"
              ng-click="consoleVisible = false">
          <span class="glyphicon glyphicon-remove"></span>
      </button>
  </div>

  <button type="button" class=" btn-default btn-lg show-console"
          ng-hide="consoleVisible"
          ng-click="consoleVisible = true">
      <span class="glyphicon glyphicon-wrench"></span>
  </button>
  </body>
</html>
