.page-container {
    height: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-top: 12px;
}

.page-headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin: 0 0 18px;
    border-bottom: 1px solid var(--border-color);
    gap: 12px;
    flex-wrap: wrap;

    @media(max-width: 768px) {
        gap: 6px;
    }
}

.fullscreen .page-headerContainer {
    margin-top: 0;
}

.page-headerTitleWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    height: 30px;
}

.page-title {
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-editTitleIcon {
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.page-info {
    display: flex;
    color: var(--gray-color);
}

.page-info:hover {
    color: var(--link-color);
    cursor: pointer;
    transition: color 200ms;
}

.page-info svg {
    width: 20px;
    height: 20px;
}

.page-actions {
    flex-shrink: 0;
    display: flex;
    gap: 12px;
}

.page-loader {
    margin: 0 auto;
    display: flex;
}

.page-container {
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-error {
    margin-bottom: 12px;
}

.page-footer {
    position: relative;
    right: 0;
    opacity: 1;
}
