.radio {
    all: unset;
    cursor: pointer;
    accent-color: var(--primary-color);
    display: flex;
    gap: 6px;
    align-items: center;
}

.radioGroup {
    display: flex;
    gap: 12px;
    align-items: baseline;
}

.radioGroup-vertical {
    flex-direction: column;
}

.radioGroup-horizontal {
    flex-direction: row;
    align-items: center;
}

.radio input {
    margin: 0 !important;
    position: relative !important;
}

.radio-withDescription {
    align-items: flex-start;
    gap: 10px;
}

.radio-withDescription input {
    margin-top: 4px !important;
}

.radio-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.radio-label {
    font-weight: 600;
}

.radio-description {
    color: var(--gray-color);
}
