.wb-tableWrapper {
    overflow-x: auto;
}

.wb-table {
    max-width: 100%;
    min-width: fit-content;
    position: relative;
}

.wb-tableFullWidth {
    width: 100%;
    display: grid;
}

.wb-tableWithoutGap .wb-tableRow {
    gap: 0;
}

.wb-tableRow {
    display: grid;
    gap: 12px;
    align-items: center;
    padding: 0 12px;
}

.wb-tableRow:not(.wb-tableRowHeading):hover {
    background: var(--table-item-hover);
}

.wb-tableRow:focus-within .wb-tableCellInvisible,
.wb-tableRow:hover .wb-tableCellInvisible {
    visibility: visible;
}

.wb-tableRow .wb-tableCellInvisible,
.wb-table:hover .wb-tableRow:focus-within:not(:hover) .wb-tableCellInvisible {
    visibility: hidden;
}

.wb-tableRowHeading {
    background: var(--border-color);
    font-weight: bold;
}

.wb-tableCell {
    display: table-cell;
    padding: 8px 0;
    height: 100%;
}

.wb-tableCellVerticalAlignCenter {
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.wb-tableCellAlignCenter {
    justify-content: center;
}

.wb-tableCellAlignRight {
    justify-content: flex-end;
}

.wb-tableCellWithoutPadding {
    padding: 0;
}

.wb-table:not(.wb-tableFullWidth) .wb-tableCellEllipsis,
.wb-table:not(.wb-tableFullWidth) .wb-tableCellEllipsis * {
    overflow: hidden;
    text-overflow: ellipsis;
}

.wb-tableRow:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

.wb-tableCellInvisible {
    visibility: hidden;

    @media(max-width: 640px) {
        visibility: visible;
    }
}

.wb-tableLoading {
    background: var(--table-item-hover);
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    overflow: hidden;
}
