<div class="panel panel-primary">
  <div class="panel-heading" ng-mouseover="hoverIn(widget)" ng-mouseleave="hoverOut(widget)">
    {{ widget.name }}
    <a href='#/widgets/{{widget.uid}}/edit' ng-show='widget.canEdit' class='pull-right'><i class="glyphicon glyphicon-edit white widget-caption-button"></i></a>


    <a  href="" ng-click="deleteWidget(widget)" ng-show='widget.canEdit' class='pull-right'><i class="glyphicon glyphicon-remove white widget-caption-button"></i></a>




  </div>
  <div class="panel-body">
      <widget-template></widget-template>
  </div>
</div>
