.columnsWrapper-container {
    gap: 18px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    max-width: calc(100% - 10px);
}

.columnsWrapper-column {
    width: 100%;
}
