.columnsWrapper-container {
    gap: 18px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));

    @media(max-width: 768px) {
        display: block;
    }
}

.columnsWrapper-column {
    width: 100%;
}
