Source: wb-mqtt-homeui
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, nodejs-12 | nodejs (<< 13)
Build-Conflicts: node-rimraf

Package: wb-mqtt-homeui
Architecture: all
Conflicts: wb-homa-webinterface
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, mqtt-wss, mqtt-tools, nginx-extras, wb-utils (>= 2.0)
Recommends: wb-mqtt-logs
Suggests: wb-mqtt-confed (>= 1.4.0),
Breaks: wb-mqtt-confed (<< 1.0.3), wb-mqtt-db (<< 1.5), wb-mqtt-serial (<< 2.64.0)
Description: Wiren Board Web UI web interface
