Source: wb-mqtt-homeui
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
X-Python3-Version: >= 3.9
Build-Depends: debhelper (>= 10),
               nodejs (>= 18),
               j2cli,
               minify,
               rsync,
               config-package-dev,
               dh-python,
               python3-all,
               python3-setuptools,
               python3-pytest,
               python3-bcrypt,
               python3-requests-unixsocket,
               python3-cryptography
Homepage: https://github.com/wirenboard/homeui

Package: wb-mqtt-homeui
Architecture: all
Conflicts: wb-homa-webinterface
Depends: ${shlibs:Depends},
         ${misc:Depends},
         wb-homeui-backend (= ${binary:Version})
Recommends: wb-mqtt-logs,
            wb-device-manager,
            wb-rules (>= 2.35.0~~)
Suggests: wb-mqtt-confed (>= 1.4.0),
Breaks: wb-mqtt-confed (<< 1.0.3),
        wb-mqtt-db (<< 1.5),
        wb-mqtt-serial (<< 2.193.0~~),
        wb-device-manager (<< 1.4.0~~),
        wb-nm-helper (<< 1.21.0~~),
        wb-configs (<< 3.14.0~~),
        wb-cloud-agent (<< 1.4.0~~)
Description: Wiren Board Web UI web interface
  The package contains frontend files

Package: wb-homeui-backend
Architecture: all
Depends: ${shlibs:Depends},
         ${python3:Depends},
         ${misc:Depends},
         python3,
         fcgiwrap,
         pigz,
         jq,
         curl,
         wb-configs (>= 3.40.0),
         nginx-extras,
         wb-utils (>= 4.24.0~~),
         python3-bcrypt,
         python3-requests-unixsocket,
         python3-cryptography
Breaks: wb-configs (<< 3.38.0~~)
Recommends: wb-mqtt-logs, wb-device-manager
Description: Wiren Board Web UI web interface
  The package contains backend files
