[Unit]
Description=Backend service for Wiren Board web interface
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/default/wb-homeui-backend
ExecStart=/usr/bin/wb-homeui-backend $WB_HOMEUI_BACKEND_OPTIONS
Restart=on-failure
RestartSec=2
RestartPreventExitStatus=2 3 4 5 6 7

[Install]
WantedBy=multi-user.target
