.deviceTab-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deviceTab-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 10px;
}

.deviceTab-contentHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.deviceTab-contentHeaderSelect {
    flex-basis: 45%;
}

.deviceTab-contentHeaderButtons {
    display: flex;
    gap: 5px;
}

@media (max-width: 1280px) {
    .deviceTab-contentHeaderSelect {
        flex-grow: 1;
        min-width: 10px;
    }
}

.alert-withButton .alertMessage-content {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-grow: 1;
    overflow: visible;
}

.alert-withButton .alertMessage-content > span {
    flex-grow: 1;
}

.alert-withButton .button {
    white-space: nowrap;
}

@media (max-width: 991px) {
    .alert-withButton .alertMessage-content {
        flex-wrap: wrap;
    }

    .alert-withButton .button {
        flex-grow: 1;
    }
}

.deviceTab-customBadge {
    font-size: 11px;
    color: #0c7cd5;
    background: #e8f2fc;
    padding: 2px 8px;
    border-radius: 4px;
    white-space: nowrap;
    align-self: center;
}
