.alice-container {
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 16px;
    margin-top: 18px;
    color: var(--text-color);

    @media (max-width: 990px) {
        display: flex;
        flex-direction: column;
    }
}

.alice-bindingContainer {
    display: flex;
    gap: 6px;
}

.alice-binding {
    font-size: 14px;
}

.alice-sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.alice-mainButtons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 990px) {
        display: flex;
        flex-direction: row;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--border-color);
    }
}

.alice-rooms {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;

    @media (max-width: 990px) {
        display: flex;
        flex-direction: row;
    }
}

.alice-tabs {
    max-width: 100%;
}

.alice-headerContainer {
    margin: 0 0 8px;
    display: flex;
    gap: 12px;
    align-items: center;
    min-height: 38px;
}

.alice-headerTitleWrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    height: 30px;
    border-bottom: 1px solid var(--border-color);
}

.alice-title {
    font-size: 15px;
    margin-left: 8px;
}

.alice-onboarding {
    font-size: 14px;
    line-height: 160%;
    padding-left: 18px;
}

.alice-integrationToggle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.alice-integrationToggle-label {
    font-size: 14px;
    color: var(--text-color);
}
