<div ng-switch on="widget.controls.slot0.topic.metaType">
  {{widget.controls.slot0.topic.value}}
  <span ng-switch-when="temperature">°C</span>
  <span ng-switch-when="rel_humidity">%, RH</span>
  <span ng-switch-when="atmospheric_pressure">millibar (100 Pa)</span>
  <span ng-switch-when="rainfall">mm/h</span>
  <span ng-switch-when="wind_speed">m/s</span>
  <span ng-switch-when="power">W</span>
  <span ng-switch-when="power_consumption">kWh</span>
  <span ng-switch-when="voltage">V</span>
  <span ng-switch-when="water_flow">m<sup>3</sup> / h</span>
  <span ng-switch-when="water_consumption">m<sup>3</sup></span>
  <span ng-switch-when="resistance"> Ohm</span>
  <span ng-switch-when="concentration"> ppm</span>
  <span ng-switch-default>{{control.topic.metaUnits}}</span>
</div>
