<div>
	<div class="pull-left">
		<spectrum-colorpicker format="rgb"
		                      options="{preferredFormat: 'rgb', showPalette: true, localStorageKey: 'rgb_palette', showButtons: false, flat: false, showInput:true}"
		                      transform-rgb
		                      ng-model="widget.controls.slot0.topic.value"
		                      ng-change="change(widget.controls.slot0.topic)"
		                      ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }"
		                      >
		</spectrum-colorpicker>
	</div>
	<div class="pull-right">
		<toggle-switch ng-model="widget.controls.slot1.topic.value" class="switch-small switch-primary" ng-true-value="1" ng-false-value="0" ng-change="change(widget.controls.slot1.topic)"><toggle-switch>

	</div>
</div>



