.js-plotly-plot .plotly [data-title]::before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--tooltip-background) !important;
}
.js-plotly-plot .plotly [data-title]::after {
    background: var(--tooltip-background) !important;
}

:root[data-theme="dark"] .plot-container {
    filter: invert(85%) hue-rotate(180deg);
}

:root[data-theme="dark"] .main-svg {
    background: transparent !important;
}
