.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events:none;
  opacity: 0.5;
}

.custom-tooltip .tooltip-inner {
  max-width: 300px;
}

.custom-tooltip.cell-name-tooltip {
  left: 0% !important;
}

.custom-tooltip.cell-name-tooltip .tooltip-arrow {
  left: 20px !important;
}

.show-on-parent-hover {
  display: none;
}

*:hover > .show-on-parent-hover {
  display: block;
}

.border-bottom {
  border-bottom: 1px solid #ccc
}

.alert-danger a {
  color: #fff;
  text-decoration: underline;
}

.label.label-custom {
  margin-right: 10px;
  padding: .2em .4em .3em .6em;
}

.table-scroll {
  display: block;
  max-width: 100%;
  min-height: 500px;
  overflow: auto
}

div[uib-datepicker-popup-wrap] {
  z-index: 10000;
  position: relative;
}

.relative {
  position: relative;
}

.floating {
  position: absolute;
}

.spinner-floating {
  position: relative;
  width: 33px;
  margin: 0 auto;
}

.spinner-floating .spinner{
  position: absolute;
}

.hidden-picker .form-group.uib-time {
  pointer-events: none;
  opacity: 0.9
}

.turn-off-group-button .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.relative {
  position: relative;
}
.progress-history{
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
.history-page select{
  margin-bottom: 5px;
}
.history-page .progress {
  margin-bottom: 1px;
  height: 32px;
}
.history-page .progress-bar > div {
  font-size: 11px;
  margin-top: 7px;
}

@media (max-width: 991px){
  .history-page .progress {
    height: 4px;
    margin-bottom: 1px;
  }
  .history-page select{
    margin-bottom: 1px;
  }
  .progress-bar {
    font-size: 1px;
  }
}

.cell.cell-value {
  display: flex;
}

.cell-value .value {
  margin-right: -10px;
  width: 110px;
  display: flex;
  align-items: center;
}

.cell-value span{
  display: inline-block;
  vertical-align: bottom;
}

.value .int {
  display: inline-block;
  width: 50px;
}

.value .int span {
  float: right;
}

.cell-value .units {
  width: 20px;
}

.value .decimal {
  width: 6ch;
  overflow: hidden;
}

.ma-0 {
  margin: 0px;
}

@media (max-width: 410px) {
  .panel-group > div {
    width: 100%;
  }
}

.panel-group {
  display: flex;
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  transition: all .35s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.notes {
  margin-bottom: 2rem;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 8px 10px
}

a[ng-click] {
  text-decoration: none;
}

a[ng-click]:hover {
  text-decoration: none;
  cursor: pointer;
}

.mqtt-table-wrapper {
  height: calc(100% - 120px);
  overflow-y: auto !important;
  border-top: 1px solid #ddd;
}

.mqtt-table-wrapper table {
  border-top: 0 !important;
  margin-top: 0 !important;
}

.mqtt-table-wrapper thead {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 6px -6px #ddd inset;
}

.mqtt-table-value {
  max-width: 300px;
  width: max-content;
  word-break: break-all;
  word-wrap: break-word;
  white-space: break-spaces;
}

.page-header {
  margin-top: 14px;
}
