.button {
    border: 0;
    color: var(--button-color);
    border-radius: var(--input-border-radius);
    transition: background 200ms linear, color 200ms linear, var(--input-active-shadow-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button:not(:disabled) {
    cursor: pointer;
}

.button:disabled {
    filter: opacity(0.5);
}

.button:focus {
    box-shadow: var(--input-active-shadow);
    z-index: 10;
}

.button-l {
    font-size: var(--font-size-large);
    padding: 8px 12px;
}

.button-m {
    font-size: var(--font-size-medium);
    padding: 6px 12px;
    height: 34px;
}

.button-s {
    font-size: var(--font-size-small);
    padding: 4px 10px;
    height: 30px;
}

.button-loading {
    visibility: hidden;
}

.button-loader {
    width: 20px !important;
    height: 20px !important;
    fill: var(--button-color) !important;
    position: absolute;
    margin: 0 auto;
    left: calc(50% - 10px);
}

.button-primary {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button-primary:not(:disabled):not(.button-outlined):hover {
    background: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.button-primary.button-outlined {
    color: var(--primary-color);
}

.button-secondary {
    background: var(--secondary-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}

.button-secondary .button-loader {
    fill: var(--text-color) !important;
}

.button-secondary:not(:disabled):not(.button-outlined):hover {
    background: var(--secondary-color-hover);
}

.button-secondary.button-outlined {
    color: var(--text-color);
}

.button-danger {
    border: 1px solid var(--danger-color);
    background: var(--danger-color);
}

.button-danger:not(:disabled):not(.button-outlined):hover {
    border: 1px solid var(--danger-color-hover);
    background: var(--danger-color-hover);
}

.button-danger.button-outlined {
    color: var(--danger-color);
}

.button-warn {
    border: 1px solid var(--warn-color);
    background: var(--warn-color);
}

.button-warn:not(:disabled):hover {
    border: 1px solid var(--warn-color-hover);
    background: var(--warn-color-hover);
}

.button-warn.button-outlined {
    color: var(--warn-color);
}

.button-unaccented {
    background: var(--border-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.button-unaccented:hover {
    background: var(--light-gray-color);
    border-color: var(--light-gray-color);
}

.button-icon {
    display: block;
    line-height: 0;
}

.button-icon:has( + .button-text) {
    display: inline-flex;
}

.button-icon + .button-text {
    margin-left: 6px;
}

.button-l .button-icon {
    width: 20px;
    height: 20px;
}

.button-m .button-icon {
    width: 14px;
    height: 14px;
    margin: 3px;
}

.button-s .button-icon {
    width: 14px;
    height: 14px;
}

.button-icon svg {
    width: 100%;
    height: 100%;
}

.button-outlined {
    border: 0 !important;
    padding-right: 4px;
    padding-left: 4px;
    background: transparent;
}
