.button {
    border: 0;
    color: var(--button-color);
    border-radius: var(--input-border-radius);
    transition: background 200ms linear, var(--input-active-shadow-transition);
}

.button:disabled {
    filter: opacity(0.5);
}

.button:focus {
    box-shadow: var(--input-active-shadow);
}

.button-m {
    padding: 6px 12px;
}

.button-s {
    padding: 4px 8px;
}

.button-primary {
    background: var(--primary-color);
}

.button-primary:not(:disabled):hover {
    background: var(--primary-color-hover);
}

.button-secondary {
    background: var(--secondary-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}

.button-secondary:not(:disabled):hover {
    background: var(--secondary-color-hover);
}

.button-success {
    background: var(--success-color);
}

.button-success:not(:disabled):hover {
    background: var(--success-color-hover);
}

.button-danger {
    background: var(--danger-color);
}

.button-danger:hover {
    background: var(--danger-color-hover);
}

.button-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.button-icon svg {
    width: 100%;
    height: 100%;
}
