.system {
    display: flex;
    flex-direction: column;
}

.system-testingOffer {
    margin-bottom: var(--content-gap);
}

.system-card {
    width: 100%;
    max-width: unset;
}

.system ul {
    padding-left: 18px;
}
