<h1 class="page-header">
  {{ action }} <small>Dashboard</small>
</h1>
<ol class="breadcrumb">
  <li>
    <i class="glyphicon glyphicon-dashboard"></i>  <a href="#/dashboards">Dashboards</a>
  </li>
  <li class="active">
    <i class="glyphicon glyphicon-plus"></i> {{ action }} dashboard
  </li>
</ol>
<div class='row' ng-controller='DashboardCtrl'>
  <form class="form-horizontal" name='dashboardForm' ng-submit='dashboardForm.$valid && addOrUpdateDashboard()' novalidate>
    <input type="hidden" class="form-control" id="dashboardUid" ng-model='dashboard.uid' placeholder="UID">

    <div class="form-group">
      <label for="dashboardName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="dashboardName" ng-model='dashboard.name' placeholder="Name" required>
      </div>
    </div>

    <h4 class="col-sm-12">Widgets</h4>
    <div class="form-group" ng-repeat="w in dashboard.widgets">
      <label for="widget{{$index}}" class="col-sm-2 control-label">Widget</label>
      <div class="col-sm-6">
        <select ng-model="w.uid" ng-options="([data.rooms[value.room].name, value.name].join(' / ')) for (key, value) in widgets" id="widget{{$index}}" required>
          <option value=''>- Please Choose -</option>
        </select>
      </div>
    </div>

    <a ng-click='addWidget(dashboard)' class="btn btn-default pull-right"> <i class="glyphicon glyphicon-plus"></i> Add widget</a>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href='#/dashboards' class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>