<a href="#/dashboards/new" class="btn btn-success pull-right">Add dashboard</a>
<h1 class="page-header">
  Dashboards
</h1>
<div class="alert alert-success alert-dismissible" role="alert" ng-show='created'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Changes</strong> successfully saved.
</div>
<div id='dashboards-list' class='wookmark-list'>
  <ul class="list-unstyled">
    <li ng-repeat="dashboard in dashboards">
      {{wookmarkIt()}}
      <div class="panel panel-primary">
        <div class="panel-heading" ng-mouseover="hoverIn(dashboard)" ng-mouseleave="hoverOut(dashboard)">
          {{ dashboard.name }}
          <a href='#/dashboards/{{dashboard.uid}}/edit' class='pull-right' ng-show='dashboard.canEdit'><i class="glyphicon glyphicon-edit white"></i></a>
        </div>
        <div class="panel-body">
          <a href='#/dashboards/{{dashboard.uid}}' class='btn btn-success'>Show</a>
        </div>
      </div>
    </li>
  </ul>
</div>