<h1 class="page-header">
    {{ dashboard.name }}
    <a href='#/dashboards/{{dashboard.uid}}/edit' class='pull-right'><i class="glyphicon glyphicon-edit black medium"></i></a>
</h1>
<ol class="breadcrumb">
  <li>
    <i class="glyphicon glyphicon-dashboard"></i>  <a href="#/dashboards">Dashboards</a>
  </li>
  <li class="active">
    {{ dashboard.name }}
  </li>
</ol>
<div id='widgets-list' class='wookmark-list'>
  <ul class="list-unstyled">
    <li ng-repeat="widget in dashboard.widgets">
      {{wookmarkIt()}}
      <div class="panel panel-primary">
        <div class="panel-heading" ng-mouseover="hoverIn(widget.uid)" ng-mouseleave="hoverOut(widget.uid)">
          {{ widget.uid.name }}
          <a href='#/widgets/{{widget.uid.uid}}/edit' ng-show='widget.uid.canEdit' class='pull-right'><i class="glyphicon glyphicon-edit white"></i></a>
        </div>
        <div class="panel-body">
          <h4>Сontrols</h4>
          <div ng-repeat="control in widget.uid.controls" class="control-wrapper">
            <widget-control></widget-control>
          </div>
          <h4>Options</h4>
          <div ng-repeat="option in widget.uid.options" class="control-wrapper">
            {{ option.uid }} - {{ option.value }}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>