<h1 class="page-header">
    {{ dashboard.name }}
    <a href='#/dashboards/{{dashboard.uid}}/edit' class='pull-right'><i class="glyphicon glyphicon-edit black medium"></i></a>
</h1>
<ol class="breadcrumb">
  <li>
    <i class="glyphicon glyphicon-dashboard"></i>  <a href="#/dashboards">Dashboards</a>
  </li>
  <li class="active">
    {{ dashboard.name }}
  </li>
</ol>
<div id='widgets-list' class='multicol-list'>
  <ul class="list-unstyled">
    <li ng-repeat="widget in dashboard.widgets">
      <div class="panel panel-primary">
        <div class="panel-heading" ng-mouseover="hoverIn(widget)" ng-mouseleave="hoverOut(widget)">
          {{ widget.name }}
          <a href='#/widgets/{{widget.uid}}/edit' ng-show='widget.canEdit' class='pull-right'><i class="glyphicon glyphicon-edit white"></i></a>
        </div>
        <div class="panel-body">
            <dashboard-widget-template></dashboard-widget-template>
        </div>
      </div>
    </li>
  </ul>
</div>
