<div ng-switch on="widget.template">
  <div widget-light ng-switch-when="light"></div>
  <div widget-dimmable-light ng-switch-when="dimmable_light"></div>
  <div widget-sensor ng-switch-when="sensor"></div>
  <div widget-open-closed-sensor ng-switch-when="open_closed_sensor"></div>
  <div widget-temperature ng-switch-when="temperature"></div>
  <div widget-humidity ng-switch-when="humidity"></div>
  <div widget-illuminance ng-switch-when="illuminance"></div>
  <div widget-air-quality ng-switch-when="air_quality"></div>
  <div widget-leakage ng-switch-when="leakage"></div>
  <div widget-motion ng-switch-when="motion"></div>
  <div widget-binary-sensor ng-switch-when="binary_sensor"></div>
  <div widget-alarm ng-switch-when="alarm"></div>
  <div widget-fan ng-switch-when="fan"></div>
  <div widget-rgb ng-switch-when="rgb"></div>
  <div widget-temp-humidity ng-switch-when="temp_humidity"></div>
  <div widget-rgb-switch ng-switch-when="rgb_switch"></div>
  <div widget-thermostat ng-switch-when="thermostat"></div>
</div>
