.codeEditor-gutters .cm-gutterElement {
    color: var(--danger-color);
    padding-right: 5px;
    font-size: var(--font-size-medium);
    cursor: default;
}

.codeEditor-gutters {
    width: 18px;
}
