.dali-busToggle {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dali-busToggle-withDescription {
    align-items: flex-start;
}

.dali-busToggle-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dali-busToggle-description {
    color: var(--gray-color);
}
