.dialog {
    background: var(--content-background);
    padding: 0;
    color: var(--text-color);
    border-radius: var(--input-border-radius);
    border: 0;
    font-family: var(--font);
    font-size: 16px;
    width: 100%;
    max-width: 550px;
    opacity: 0;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.4);
    animation: appear 200ms forwards;
}

.dialog::backdrop {
    background: rgba(7, 7, 7, 0.8);
    animation: appear-overlay 200ms forwards;
}

.dialog-title {
    margin: 0;
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
}
