.card {
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-box-shadow);
    margin-bottom: var(--content-gap);
    max-width: 450px;
    width: 100%;
    transition: background ease 300ms, border ease 300ms, border-radius ease 300ms;
    display: inline-block;
    background: var(--container-background);
}

.card-header {
    border-radius: calc(var(--container-border-radius) - 1px) calc(var(--container-border-radius) - 1px) 0 0;
    overflow: hidden;
    width: 100%;
    padding: var(--card-header-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color ease 300ms, border-radius ease 300ms, padding ease 300ms;
    user-select: none;
}

.card-header[aria-expanded="false"] {
    border-radius: calc(var(--container-border-radius) - 1px);
}

.card-headerContainer {
    position: relative;
}

.card-headerToggable {
    border: 0;
    width: 100%;
    cursor: pointer;
}

.card-headerToggable:focus {
    outline: var(--form-element-outline);
    outline-offset: var(--form-element-outline-offset);
    transition: border-color 200ms linear, var(--form-element-focus-transition);
}

.card-title {
    font-size: var(--font-size-medium);
    font-weight: var(--card-header-font-weight);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-titleWithError {
    color: var(--danger-color);
}

.card-actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

.card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    padding: 0;
    opacity: 0;
    transition: opacity ease 150ms, text-shadow ease 150ms;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;

    @media(max-width: 768px) {
        opacity: 1;
    }
}

.card:hover .card-action,
.card:focus-within .card-action,
.card-action:focus {
    opacity: 1;
}

button:not(:disabled).card-action:hover,
button:not(:disabled).card-action:focus {
    outline: var(--form-element-outline);
    outline-offset: var(--form-element-outline-offset);
    transition: border-color 200ms linear, var(--form-element-focus-transition);
}

.card-toggle {
    width: 16px;
    height: 16px;
}

.card-body {
    padding: var(--card-body-padding);
    font-size: var(--font-size-medium);
    color: var(--text-color);
    border-radius: 0 0 calc(var(--container-border-radius) - 1px) calc(var(--container-border-radius) - 1px);
    transition: background ease 300ms, color ease 300ms, padding ease 300ms, border-radius ease 300ms;
}

.card-primary {
    border: 1px solid var(--card-primary-border-color);
}

.card-primary .card-header {
    background: var(--card-primary-header-background);
}

.card-primary .card-header,
.card-primary .card-action,
.card-primary .card:hover .card-action,
.card-primary .card:focus-within .card-action,
.card-primary .card-action:focus {
    color: var(--card-primary-header-text);
}

.card-secondary {
    border: 1px solid var(--card-secondary-border-color);
}

.card-secondary .card-header {
    background: var(--card-secondary-header-background);
    color: var(--text-color);
}

.card-tertiary {
    border: 1px solid var(--input-border-color);
}

.card-tertiary .card-header {
    background-color: var(--border-color);
    color: var(--text-color);
}

.card-tertiary .card-body {
    background-color: var(--background-accent-color-hover);
}

button:disabled.card-action svg {
    color: var(--light-gray-color);
}
