.page-title {
    color: var(--text-color);
    margin: 0;
}

.page-headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin: 36px 0 18px;
    border-bottom: 1px solid var(--border-color);
}

.page-loader {
    margin: 0 auto;
    display: flex;
}
