.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 220px;
    width: 100%;
    scrollbar-width: thin;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.tabs-button {
    width: 100%;
    text-align: left;
    border: 0;
    background: none;
    padding: 6px 12px;
}

.tabs-button:hover:not(:focus) {
    background: var(--border-color);
}

.tabs-buttonSelected {
    border-right: 6px solid var(--primary-color) !important;
}

.tabs-button:focus {
    box-shadow: var(--input-active-shadow);
    z-index: 10;
    border-radius: var(--input-border-radius);
    transition: border-color 200ms linear, var(--input-active-shadow-transition);
}

.tabs li:not(:last-of-type) .tabs-button:not(:focus) {
    border-bottom: 1px solid var(--border-color);
}

.tabs li:not(:last-of-type) .tabs-button:focus {
    border-bottom: 1px solid transparent;
}
