.alertMessage {
    border: 0;
    border-radius: var(--input-border-radius);
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
}

.alertMessage-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.alertMessage a {
    color: inherit;
    text-decoration: underline;
    white-space: nowrap;
}

.alertMessage-m {
    padding: 12px;
    font-size: var(--font-size-medium);
    gap: 12px;
}

.alertMessage-s {
    padding: 6px 12px 6px 10px;
    font-size: var(--font-size-small);
    gap: 6px;
}

.alertMessage-content {
    text-overflow: ellipsis;
    width: 100%;
}

.alertMessage-info {
    background: var(--alert-info-background);
    border: 1px solid var(--alert-info-border);
    color: var(--alert-info-color);
}
.alertMessage-info .alertMessage-icon {
    color: var(--alert-info-icon);
}

.alertMessage-gray {
    background: var(--alert-gray-background);
    border: 1px solid var(--alert-gray-border);
    color: var(--alert-gray-color);
}

.alertMessage-gray .alertMessage-icon {
    color: var(--alert-gray-icon);
}

.alertMessage-success {
    background: var(--alert-success-background);
    border: 1px solid var(--alert-success-border);
    color: var(--alert-success-color);
}

.alertMessage-success .alertMessage-icon {
    color: var(--alert-success-icon);
}

.alertMessage-warn {
    background: var(--alert-warn-background);
    border: 1px solid var(--alert-warn-border);
    color: var(--alert-warn-color);
}

.alertMessage-warn .alertMessage-icon {
    color: var(--alert-warn-icon);
}

.alertMessage-danger {
    background: var(--alert-danger-background);
    border: 1px solid var(--alert-danger-border);
    color: var(--alert-danger-color);
}

.alertMessage-danger .alertMessage-icon {
    color: var(--alert-danger-icon);
}

.alertMessage-close {
    padding: 0 !important;
    height: 20px !important;
}

.alertMessage-closeIcon {
    color: var(--text-color);
}

.alert-withButton .alertMessage-content {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-grow: 1;
    overflow: visible;
}

.alert-withButton .alertMessage-content > span {
    flex-grow: 1;
}

.alert-withButton .button {
    white-space: nowrap;
}

@media (max-width: 991px) {
    .alert-withButton .alertMessage-content {
        flex-wrap: wrap;
    }

    .alert-withButton .button {
        flex-grow: 1;
    }
}

[data-theme='dark'] .alertMessage .button {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
