.settingsTab-icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
}

.settingsTab-name {
    flex-grow: 1;
}

.deviceManagerPage li:has(.settingsTab) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    background: var(--border-color) !important;
}
