.devices-column .card-body {
    overflow: hidden;
}

.devices .card-toggle:not(:hover),
.devices .card-toggle:not(:focus) {
    display: none;
}

.devices .card:focus-within .card-toggle,
.devices .card:hover .card-toggle,
.devices .card:has(.card-action:focus) .card-toggle,
.devices .card-header:focus .card-toggle {
    display: block;
}

.devices-icon {
    width: 20px;
    height: 16px;
}

.devices-filter {
    min-width: 170px;
}
