.devices-column .card-body {
    overflow: hidden;
}

.devices .card-toggle:not(:hover),
.devices .card-toggle:not(:focus) {
    display: none;
}

.devices .card:focus-within .devices-icon,
.devices .card:hover .devices-icon,
.devices .card:has(.card-action:focus) .devices-icon,
.devices .card-header:focus .devices-icon {
    display: none;
}

.devices .card:focus-within .card-toggle,
.devices .card:hover .card-toggle,
.devices .card:has(.card-action:focus) .card-toggle,
.devices .card-header:focus .card-toggle {
    display: block;
}

.devices-icon {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
}

.devices-deviceHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}
