<h1 class="page-header">
    Access level
</h1>

<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="$ctrl.level" value="1" name="level"> User
        </label>
    </div>
</div>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="$ctrl.level" value="2" name="level"> Operator
        </label>
    </div>
</div>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="$ctrl.level" value="3" name="level"> Administrator
        </label>
    </div>
</div>
<div ng-click="$ctrl.apply()" class="btn btn-success">Apply</div>

<br><br><br>
<div class="alert alert-danger" ng-if="$ctrl.level==3">
    <h2>
        Are you sure?
    </h2>
</div>
