<h1 class="page-header" translate>{{'configurations.title'}}</h1>

<div class="alert alert-danger alert-dismissible" role="alert"
     ng-hide="$ctrl.haveRights">{{'configurations.labels.access-notice' | translate}}
</div>
<section ng-if="$ctrl.haveRights">
    <div class="spinner" ng-show="spinnerActive('configEditorProxy')" ng-cloak>
        <span class="spinner-loader" translate>{{'configurations.labels.loading'}}</span>
    </div>

    <div class="configs" ng-show="!spinnerActive('configEditorProxy')" ng-cloak>
        <table class="table">
            <thead>
            <tr>
                <th translate>{{'configurations.labels.title'}}</th>
                <th translate>{{'configurations.labels.file'}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="config in configs track by $index">
                <td>
                    <a ui-sref="{{config.editor?config.editor:'configEdit'}}({path: config.schemaPath})">
                        {{ config.titleTranslations[$locale.id] || config.title }}
                    </a>
                </td>
                <td>{{ config.configPath }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
