<div class="alert alert-danger alert-dismissible" role="alert"
ng-hide="$ctrl.haveRights">{{'configurations.labels.notice' | translate}}
   <a ui-sref="accessLevel">{{'configurations.labels.access' | translate}}</a>.
</div>

<section ng-if="$ctrl.haveRights">
    <h1 class="page-header">
        <span>{{ file.configPath }}</span>
    </h1>
    <div class="spinner" ng-show="spinnerActive('configEditorProxy')" ng-cloak>
        <span class="spinner-loader" translate>{{'configurations.labels.loading'}}</span>
    </div>

    <div class="config-editor" ng-if="file.schema && !spinnerActive('configEditorProxy')">
        <button class="btn btn-primary" name="save" ng-click="save()" ng-disabled="!canSave()" translate>{{'configurations.buttons.save'}}</button>
        <json-editor class="turn-off-group-button"
                schema="file.schema"
                startval="file.content"
                options="editorOptions"
                on-change="onChange"></json-editor>
    </div>
</section>
