<h1 class="page-header">
  {{ dashboard.name }}
  <!-- XXX: restore
    <a href='#/dashboards/{{dashboard.uid}}/edit' class='pull-right'><i class="glyphicon glyphicon-edit black medium"></i></a>
    -->
  <button type="button"
          name="add-widget"
          class="btn btn-success pull-right"
          ng-click="addWidget()">
    Add widget
  </button>
</h1>
<div id="widgets-list" class="multicol-list">
  <ul class="list-unstyled" sv-root sv-part="dashboard.widgets">
    <li ng-repeat="widget in dashboard.widgets" sv-element>
      <widget source="widget"
              can-remove="true"
              on-remove="removeWidget(widget)"
              can-delete="true"
              on-delete="deleteWidget(widget)"></widget>
    </li>
  </ul>
</div>

<!--
<h1 class="page-header">
  {{ dashboard.name }}
  <a href='#/dashboards/{{dashboard.uid}}/edit' class='pull-right'><i class="glyphicon glyphicon-edit black medium"></i></a>
</h1>


<div ng-switch="dashboard.type">
  <div ng-switch-when="graphic">
    <div svg-scheme devices="devices" svg-full-width="dashboard.svg_fullwidth"
         ng-include="dashboard.svg_url"></div>
  </div>

  <div ng-switch-default>
    <div id='widgets-list' class='multicol-list'>
      <ul class="list-unstyled">
        <li ng-repeat="widget in dashboard.widgets">
          <div class="panel panel-primary">
            <div class="panel-heading" ng-mouseover="hoverIn(widget)" ng-mouseleave="hoverOut(widget)">
              {{ widget.name }}
              <a href='#/widgets/{{widget.uid}}/edit' ng-show='widget.canEdit' class='pull-right'><i class="glyphicon glyphicon-edit white widget-caption-button"></i></a>
              <a  href="" ng-click="dashboardDeleteWidget(widget)" ng-show='widget.canEdit' class='pull-right'><i class="glyphicon glyphicon-remove white widget-caption-button"></i></a>

            </div>
            <div class="panel-body">
              <dashboard-widget-template></dashboard-widget-template>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>-->
