<div ng-if="dashboard">
    <h1 class="page-header">
        <div class="row">
            <div class="col-md-10">
                {{ dashboard.name }}
            </div>
            <div class="col-md-2 text-right">
                <a class="btn btn-primary" user-role="mto" current-role="roles.current.role" ui-sref="dashboard-svg-edit({ id: dashboard.id })">Edit</a>
                <a class="btn btn-default" user-role="mto" current-role="roles.current.role" target="_self" download="{{ svgDownloadName }}" href="{{ svgDownloadUrl }}">Download</a>
            </div>     
        </div>    
    </h1>
    <svg-view dashboard="dashboard"></svg-view>
</div>
<pulse-spinner ng-show="!dashboard"></pulse-spinner>