<h1 class="page-header">
  History
</h1>
<div class="row">

  <form class="form-horizontal" name="history-form" onsubmit="return false;">
    <div class="form-group">
      <label for="control-select" class="col-sm-2 control-label">Control</label>
      <div class="col-sm-3">
        <select id="control-select"
                class="form-control"
                ng-model="selectedTopic">
          <option value=''>- Please Choose -</option>
          <option ng-selected="control.topic == selectedTopic"
                  ng-repeat="control in controls" value="{{control.topic}}">{{control.topic}}</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-show="topic !== null">
      <label for="history-start" class="col-sm-2 control-label">Start</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input id="history-start"
                 type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="selectedStartDate"
                 is-open="popups.start"
                 max-date="selectedEndDate"
                 datepicker-options="dateOptions"
                 close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popups.showStart()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-show="topic !== null">
      <label for="history-end" class="col-sm-2 control-label">End</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input id="history-end"
                 type="text"
                 class="form-control"
                 datepicker-popup="{{format}}"
                 ng-model="selectedEndDate"
                 is-open="popups.end"
                 min-date="selectedStartDate"
                 datepicker-options="dateOptions"
                 close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popups.showEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 spinner" ng-show="spinnerActive('historyProxy')" ng-cloak>
    <span class="spinner-loader">Loading...</span>
  </div>

  <!-- don't use ng-show on c3 because it will cause problems with chart size -->
  <div class="col-sm-12" ng-if="!spinnerActive('historyProxy')">
    <c3-simple ng-if="shouldShowChart()" id="histchart" config="chartConfig"></c3-simple>
    <div class="history-empty" ng-show="topic !== null && !dataPoints.length">
      No data points to display.
    </div>
  </div>

  <div class="col-sm-4" ng-show="shouldShowChart()">
    <table class="table">
      <thead>
        <tr>
          <th>Date and time</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in dataPoints">
          <td>{{ p.x | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ p.y }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
