
<div class="stretch-height history-page">
    <h1 class="page-header">
        History
    </h1>

    <div class="row" ng-repeat="sel in $ctrl.selectedControls track by $index">
        <div class="col-xs-8 col-md-5">
            <select id="control-select"
                    class="form-control"
                    ng-disabled="$ctrl.loadPending || !$ctrl.ready"
                    ng-model="$ctrl.selectedControls[$index]"
                    ng-options="control as control.name group by control.group for control in $ctrl.controls track by control.name">
                <option value="">- Please Choose -</option>
            </select>
        </div>
        <div class="col-xs-4 col-md-2">
            <div>
                <div ng-hide="($index==0 && $ctrl.selectedControls.length==1) || !$ctrl.selectedControls[1]"
                     ng-disabled="$ctrl.loadPending || !$ctrl.ready"
                     class="btn btn-danger" ng-click="$ctrl.deleteTopic($index)">delete
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5" ng-if="$ctrl.chunksN>1">
            <uib-progressbar ng-if="$ctrl.selectedControls[$index] && !$ctrl.charts[$index].progress.isLoaded && $ctrl.loadPending"
                             value="$ctrl.charts[$index].progress.value"
                             min="0" max="::$ctrl.chunksN">
                <div>{{$ctrl.charts[$index].progress.value}}/{{::$ctrl.chunksN}}</div>
            </uib-progressbar>
        </div>
    </div>
    <div ng-hide="$ctrl.selectedControls.length==1 && !$ctrl.selectedControls[$ctrl.selectedControls.length-1]">
        <br>
        <button class="btn btn-success" ng-click="$ctrl.addTopic()" ng-disabled="$ctrl.loadPending || !$ctrl.ready">
            Add channel
        </button>
        <br>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-5">
            <div class="row">
                <div class="col-xs-1 col-md-1 history-time-col-l">
                    <label for="history-start">Start</label>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-6 history-time-col-r">
                    <div class="input-group">
                        <input id="history-start"
                               type="text"
                               class="form-control"
                               uib-datepicker-popup="{{format}}"
                               ng-change="$ctrl.timeChange('start')"
                               ng-model="$ctrl.selectedStartDate"
                               ng-disabled="$ctrl.loadPending || !$ctrl.ready"
                               is-open="$ctrl.popups.start"
                               close-text="Close"/>
                          <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="$ctrl.popups.start = true"
                                    ng-disabled="$ctrl.loadPending || !$ctrl.ready">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2">
                    <div uib-timepicker
                         ng-model="$ctrl.selectedStartDateMinute"
                         ng-change="$ctrl.timeChange('start')"
                         ng-disabled="$ctrl.loadPending || !$ctrl.ready"
                         minute-step="5" hour-step="1"
                         show-meridian="false"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5">
            <div class="row">
                <div class="col-xs-1 col-md-1 history-time-col-l">
                    <label for="history-end">End</label>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-6 history-time-col-r">
                    <div class="input-group">
                        <input id="history-end"
                               type="text"
                               class="form-control"
                               uib-datepicker-popup="{{format}}"
                               ng-change="$ctrl.timeChange('end')"
                               ng-model="$ctrl.selectedEndDate"
                               ng-disabled="$ctrl.loadPending || !$ctrl.ready"
                               is-open="$ctrl.popups.end"
                               close-text="Close"/>
                          <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="$ctrl.popups.end = true"
                                    ng-disabled="$ctrl.loadPending || !$ctrl.ready">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2">
                    <div uib-timepicker
                         ng-model="$ctrl.selectedEndDateMinute"
                         ng-change="$ctrl.timeChange('end')"
                         minute-step="5" hour-step="1"
                         show-meridian="false"
                         ng-disabled="$ctrl.loadPending || !$ctrl.ready"></div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-success"
            ng-disabled="!$ctrl.timeChanged || !$ctrl.selectedControls[0] || $ctrl.loadPending || !$ctrl.ready"
            ng-click="$ctrl.updateDateRange()">
        Load data
    </button>
    <button class="btn btn-success"
            ng-disabled="!$ctrl.timeChanged || !$ctrl.selectedControls[0] || $ctrl.loadPending || !$ctrl.ready"
            ng-click="$ctrl.readDatesFromUrl()">
        Reset
    </button>
    <button class="btn btn-success"
            ng-disabled="!$ctrl.loadPending || !$ctrl.ready"
            ng-click="$ctrl.stopLoadingData()">
        Stop loading
    </button>
    <br><br>

    <div class="col-sm-12 spinner" ng-cloak ng-if="!$ctrl.stopLoadData"
         ng-show="$ctrl.loadPending || !$ctrl.ready">
        <span class="spinner-loader">Loading...</span>
    </div>

    <div>
        <div class="col-sm-12">
            <plotly plotly-events="$ctrl.plotlyEvents"
                    plotly-data="$ctrl.chartConfig"
                    plotly-layout="$ctrl.layoutConfig"
                    plotly-options="$ctrl.options"
                    ng-hide = "$ctrl.loadPending || !$ctrl.chartConfig.length"></plotly>
            <br>
            <div class="history-empty"
                 ng-show="!$ctrl.chartConfig.length && !$ctrl.loadPending">
                No data points to display.
            </div>
        </div>
    </div>
 
    <button 
      class="btn btn-success"
      ng-if="$ctrl.hasPoints"
      ng-click="$ctrl.downloadHistoryTable()"
    >
      Download history as CSV
    </button>
    <br><br>

    <div class="col-xs-12" ng-if="$ctrl.dataPointsMultiple.length">
        <table id="history-table" class="table">
            <thead>
            <tr>
                <th>Date and time</th>
                <th ng-repeat="channel in $ctrl.charts">{{channel.channelName}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in $ctrl.dataPointsMultiple track by p.date">
                <td>{{ p.date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td ng-repeat="_x in p.value track by $index">{{ _x }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

