<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:0px;" ng-hide="$ctrl.dashboard">
      You can select default dashboard in <a ui-sref="settings">settings</a>.
    </div>
  </div>
</div>

<div id="widgets-list" class="multicol-list">
  <ul class="list-unstyled" sv-root sv-part="$ctrl.dashboard.widgets">
    <li ng-repeat="widget in $ctrl.dashboard.widgets" sv-element>
      <widget source="widget"
              can-remove="false"
              can-delete="false"></widget>
    </li>
  </ul>
</div>
