
<div class="stretch-height logs-page">

    <h1 class="page-header" translate>
        {{'logs.title'}}
    </h1>

    <div class="row" ng-cloak ng-show="!$ctrl.waitBootsAndServices">
        <div class="form-group col-xs-12 col-md-12 col-lg-4">
            <label translate>{{'logs.labels.service'}}</label>
            <ui-select ng-model="$ctrl.selectedService"
                    theme="bootstrap"
                    title="{{'logs.labels.choose-service' | translate}}"
                    append-to-body="true">
                <ui-select-match placeholder="{{'logs.labels.choose-service' | translate}}">{{ $select.selected.desc }}</ui-select-match>
                <ui-select-choices repeat="service in ($ctrl.services | filter: $select.search) track by service.name">
                    <div ng-bind-html="service.desc | hilite: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group col-xs-12 col-md-5 col-lg-4">
            <label translate>{{'logs.labels.boot'}}</label>
            <ui-select ng-model="$ctrl.selectedBoot" 
                    theme="bootstrap"
                    title="{{'logs.labels.choose-boot' | translate}}"
                    append-to-body="true">
                <ui-select-match placeholder="{{'logs.labels.choose-boot' | translate}}">{{ $select.selected.desc }}</ui-select-match>
                <ui-select-choices repeat="boot in ($ctrl.boots | filter: {desc: $select.search}) track by boot.hash">
                    <div ng-bind-html="boot.desc | hilite: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group col-xs-12 col-md-7 col-lg-4">
            <label translate>{{'logs.labels.period'}}</label>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-8">
                    <select class="form-control" 
                            ng-model="$ctrl.selectedStartDateMs" 
                            ng-options="date.date as date.name for date in $ctrl.logDates"
                            ng-change="$ctrl.periodChanged()">
                    </select>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <button class="btn btn-success"
                            ng-disabled="adapter.isLoading || !$ctrl.selectedBoot || !$ctrl.selectedService"
                            ng-click="$ctrl.reload()" translate>
                        {{'logs.buttons.load'}}
                    </button>
                    <button class="btn btn-default"
                            ng-disabled="adapter.isLoading || !$ctrl.selectedBoot || !$ctrl.selectedService || !$ctrl.logs.length"
                            ng-click="$ctrl.save()"
                            title="{{'logs.buttons.save' | translate}}">
                            <i class="glyphicon glyphicon-download-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="logs-wrapper" ng-cloak ng-show="!$ctrl.waitBootsAndServices && $ctrl.logs.length" on-resize="$ctrl.logsResize(size)">
        <table id="logs-table" ui-scroll-viewport>
            <tr ui-scroll="log in datasource" adapter="adapter">
                <td class="logs-time-column">
                    <span class="logs-time">{{log.time | date : "dd-MM-yyyy HH:mm:ss.sss"}}</span>
                    <span ng-if="log.service" class="logs-service">[{{log.service}}]</span>
                </td>
                <td class="logs-message-column"
                    ng-style="{color: {0: 'red', 1: 'red', 2:'red', 3:'red', 4:'#997300'}[log.level], 'font-weight': {7: 'bold'}[log.level]}">{{log.msg}}</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12 spinner" ng-show="$ctrl.waitBootsAndServices && $ctrl.enableSpinner">
        <span class="spinner-loader" translate>{{'logs.labels.loading'}}</span>
    </div>

</div>

