<h1 class="page-header" translate> {{'mqtt.title'}}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th translate>{{'mqtt.header.device'}}</th>
            <th translate>{{'mqtt.header.control'}}</th>
            <th translate>{{'mqtt.header.type'}}</th>
            <th translate>{{'mqtt.header.topic'}}</th>
            <th translate>{{'mqtt.header.value'}}</th>
            <th translate>{{'mqtt.header.status'}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.getRows()">
            <td>{{row.deviceId}}</td>
            <td>{{row.controlId }}</td>
            <td>
                {{row.type }}
                <span ng-show="row._metaReadonly">(ro)</span>
            </td>
            <td>/devices/{{row.deviceId}}/controls/{{row.controlId }}</td>
            <td>{{row._value}}</td>
            <td>
                <span ng-show="row.error" class="label label-danger">
                  {{'mqtt.error' | translate}}: {{row.error }}
                </span>
                <span ng-show="!row.error" class="label label-success">
                  OK
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>