<form class="form-inline" name='roomForm' ng-submit='roomForm.$valid && addOrUpdateRoom()' novalidate>
  <div ng-show="roomForm.$submitted">
    <div ng-show="roomForm.roomUID.$error.required">UID is required</div>
    <div ng-show="roomForm.roomName.$error.required">Name is required</div>
  </div>
  <div class="form-group">
    <label for="roomUID">ID</label>
    <input type="text" class="form-control" id="roomUID" name='roomUID' placeholder="Room UID" ng-model='room.uid' required>
  </div>
  <div class="form-group">
    <label for="roomName">Name</label>
    <input type="text" class="form-control" id="roomName" name='roomName' placeholder="Room name" ng-model='room.name' required>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<h4>Rooms</h4>

<div class="panel panel-primary" ng-show='room.uid || room.name'>
  <div class="panel-heading">
    <h3 class="panel-title">New room</h3>
  </div>
  <div class="panel-body">
    UID: {{room.uid}} Name: {{room.name}}
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='room in rooms'>
      <th scope="row">{{room.uid}}</th>
      <td>{{room.name}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div id='rooms-list' class='wookmark-list'>
    <ul class="list-unstyled">
      <li ng-repeat="room in rooms">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3>{{room.uid}} - {{room.name}}</h3>
          </div>
          <div class="panel-body">
            <div ng-repeat="widget in room.widgets">
              <room-widget></room-widget>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>