<h1 class="page-header">
  Scripts
</h1>

<div class="spinner" ng-show="spinnerActive('editorProxy')" ng-cloak>
  <span class="spinner-loader">Loading...</span>
</div>

<div class="scripts" ng-show="!spinnerActive('editorProxy')" ng-cloak>
  <ul>
    <li>
      <a ui-sref="scriptNew" ui-sref-active="active">
        New...
      </a>
    </li>
    <li ng-repeat="script in scripts">
      <a ui-sref="scriptEdit({ path: script.virtualPath })" ui-sref-active="active">
        {{ script.virtualPath }}
      </a>
    </li>
  </ul>
</div>
