<h1 class="page-header">
  Settings
</h1>
<div class="row">
<!--   <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-log-in"></i> Login</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" name='loginForm' ng-submit='loginForm.$valid && updateLoginSettings()' novalidate>
          <div class="form-group">
            <label for="loginPort" class="col-sm-2 control-label">Port</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="loginPort" ng-model="loginSettings.port" placeholder="Port" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="loginSettings.useCredentials" ng-true-value="true" ng-false-value="false"> Use access credentials
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="loginUser" class="col-sm-2 control-label">User ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="loginUser" ng-model="loginSettings.user" placeholder="User ID"  ng-required="(loginSettings.prefix === 'true') || (loginSettings.useCredentials === true)"  ng-disabled="loginSettings.useCredentials == false">
            </div>
          </div>
          <div class="form-group" >
            <label for="loginPassword" class="col-sm-2 control-label" ng-model="loginSettings.password">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="loginPassword"  ng-model="loginSettings.password" placeholder="Password" ng-required="(loginSettings.prefix === 'true') || (loginSettings.useCredentials === true)" ng-disabled="loginSettings.useCredentials == false">
            </div>
          </div>
<!--           <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="loginSettings.prefix" ng-true-value="'true'" ng-false-value="'false'"> Enable prefix (/client/user_id/)
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Apply</button>
            </div>
          </div>
 -->
        </form>
      </div>
    </div>
  </div> 
  <div class="col-lg-12">
    <div class="panel panel-default" ng-controller="FirmwareCtrl">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-upload"></i> Firmware update</h3>
      </div>
        <div class="panel-body">
        <span ng-show="!canUpload" class="label label-warning">
          Firmware update service is not available
        </span>
        <button ng-show="canUpload && !(running || uploading)" type="file" class="btn btn-success btn-lg" 
            ngf-select="upload($file)" ngf-max-size="300MB" ngf-pattern="'.fit,.*'">Select file</button>
        <div class="progress" ng-show="running || uploading">
          <div class="progress-bar progress-bar-{{stateType}}" style="width:{{progress}}%;">
		    <span ng-bind="stateMsg"></span>
		  </div>
        </div>
        <pre id="firmwareLog" class="well well-sm pre-scrollable" ng-show="running"></pre>
        <button class="btn btn-lg btn-default" ng-show="done" ng-click="doneClick()" ng-bind="doneLabel"></button>
      </div>
    </div>
  </div>
<!--   <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> Common Info</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='setting in settings'>
                <td>{{ setting.name }}</td>
                <td>{{ setting.value }}</td>
              </tr>
              <tr>
                <td>
                  Default Dashboard
                  <a ng-show='dashboard' href='#/dashboards/{{ dashboard.uid }}/edit'><i class="glyphicon glyphicon-edit black medium"></i></a>
                  <a ng-show='dashboard' href='#/dashboards/{{ dashboard.uid }}'><i class="glyphicon glyphicon-play-circle black medium"></i></a>
                </td>
                <td class="text-center">
                  <select ng-model="dashboard" ng-options="value.name for (key, value) in data.dashboards" ng-change="changeDefaultDashboard()">
                    <option value=''>- Please Choose / None -</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> MQTT Channels</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Device</th>
                <th>Control</th>
                <th>Type</th>
                <th>Topic</th>
                <th>Value</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody ng-repeat="(name, device) in data.devices">
                <tr ng-repeat="(controlName, control) in device.controls">
                  <td>{{name}}</td>
                  <td>{{controlName }}</td>
                  <td>{{control.metaType }} <span ng-show="control.metaReadonly">(ro)</span></td>
                  <td>{{control.topic }}</td>
                  <td>{{control.value }}</td>
                  <td>
                    <span  ng-show="control.metaError" class="label label-danger">
                      Error: {{control.metaError }}
                    </span>

                    <span ng-show="!control.metaError" class="label label-success">
                      OK
                    </span>

                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
