<h1 class="page-header" translate>{{'system.title'}}</h1>

<div class="alert alert-danger alert-dismissible" role="alert"
     ng-hide="$ctrl.haveRights">{{'rules.labels.access-notice' | translate}}
</div>

<section ng-if="$ctrl.haveRights">
    <cloud-status-meta-widget></cloud-status-meta-widget>

    <firmware-update-widget id="update"></firmware-update-widget>

    <div class="panel panel-default" ng-controller="BackupCtrl">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-download"></i> {{'backup.title' | translate}}
            </h3>
        </div>
        <div class="panel-body">
            <ul class="notes">
                <li>{{'backup.rootfs_warning1' | translate}}</li>
                <li>{{'backup.rootfs_warning2' | translate}}</li>
                <li>{{'backup.rootfs_warning3' | translate}}</li>
            </ul>
            <a type="button" class="btn btn-success btn-lg pull-left" style="margin-right: 10px;" ng-href="fwupdate/download/rootfs" ng-disabled="!btnEnabled" download>
                <i class="glyphicon glyphicon-save"></i> <span>{{'backup.download_rootfs_button' | translate}}</span>
            </a>
            &nbsp;
            <a type="button" class="btn btn-success btn-lg pull-left" style="margin-right: 10px;" ng-href="fwupdate/download/configs" ng-disabled="!btnEnabled" download>
                <i class="glyphicon glyphicon-save"></i> <span>{{'backup.download_configs_button' | translate}}</span>
            </a>
            &nbsp;
            <a type="button" class="btn btn-success btn-lg pull-left" ng-href="fwupdate/download/everything" ng-disabled="!btnEnabled" download>
                <i class="glyphicon glyphicon-save"></i> <span>{{'backup.download_everything_button' | translate}}</span>
            </a>

        </div>
    </div>

    <div class="panel panel-default" ng-controller="DiagnosticCtrl">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-download"></i> {{'collector.title' | translate}}
            </h3>
        </div>
        <div class="panel-body">

            <div class="col-xs-12 spinner" ng-show="!btnVisible && !started">
                <span class="spinner-loader" translate>{{'collector.states.checking'}}</span>
            </div>

            <button type="button" class="btn btn-success btn-lg pull-left" ng-click="btnMethod()" ng-disabled="!btnEnabled"
                    ng-if="!href" ng-show="btnVisible" translate>
                {{ text }}
            </button>

            <a type="button" class="btn btn-success btn-lg pull-left" ng-href="{{href}}" ng-disabled="!btnEnabled"
               ng-if="href" ng-show="btnVisible" download>
                {{ text }}
            </a>

            <div class="col-xs-1" ng-show="collecting">
                <span class="spinner-loader"></span>
            </div>

            <div ng-show="pathMessage">
                <span> <span translate>{{'collector.errors.unavailableToDownload'}}</span> <code> {{path}} </code> </span>
            </div>

        </div>
    </div>

    <firmware-update-widget id="reset"></firmware-update-widget>
</section>
