
<h1 class="page-header" translate>{{'system.title'}}</h1>

<div class="panel panel-default" ng-controller="FirmwareCtrl">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-upload"></i> {{'system.update.title' | translate}}</h3>
    </div>
    <div class="panel-body">
    <span ng-show="!canUpload" class="label label-warning" translate> {{'system.errors.unavailable'}}</span>
        <button type="file" class="btn btn-success btn-lg"
                ng-show="canUpload && !(running || uploading)"
                ngf-select="upload($file)"
                ngf-max-size="300MB"
                ngf-pattern="'.fit,.*'" translate>{{'system.buttons.select'}}</button>
        <div class="progress" ng-show="running || uploading">
            <div class="progress-bar progress-bar-{{stateType}}"
                 ng-style="{'width':progress + '%'};">
                <span translate>{{stateMsg}}</span>
            </div>
        </div>
        <pre id="firmwareLog" class="well well-sm pre-scrollable" ng-show="running"></pre>
        <button class="btn btn-lg btn-default" ng-show="done" ng-click="doneClick()" translate>{{doneLabel}}</button>
    </div>
</div>


<div class="panel panel-default" ng-controller="DiagnosticCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="glyphicon glyphicon-download"></i> {{'collector.title' | translate}}
        </h3>
    </div>
    <div class="panel-body">

    <div class="col-xs-12 spinner" ng-show="!btnVisible">
        <span class="spinner-loader" translate>{{'collector.states.checking'}}</span>
    </div>

    <button type="button"  class="btn btn-success btn-lg"
            ng-click="btnMethod()" ng-disabled="!btnEnabled" ng-show="btnVisible" translate>
        {{ text }}
    </button>
    </div>
</div>
