
<h1 class="page-header">System</h1>

<div class="panel panel-default" ng-controller="FirmwareCtrl">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-upload"></i> Firmware update</h3>
    </div>
    <div class="panel-body">
    <span ng-show="!canUpload" class="label label-warning">
      Firmware update service is not available
    </span>
        <button type="file" class="btn btn-success btn-lg"
                ng-show="canUpload && !(running || uploading)"
                ngf-select="upload($file)"
                ngf-max-size="300MB"
                ngf-pattern="'.fit,.*'">Select file</button>
        <div class="progress" ng-show="running || uploading">
            <div class="progress-bar progress-bar-{{stateType}}"
                 ng-style="{'width':progress + '%'};">
                <span ng-bind="stateMsg"></span>
            </div>
        </div>
        <pre id="firmwareLog" class="well well-sm pre-scrollable" ng-show="running"></pre>
        <button class="btn btn-lg btn-default" ng-show="done" ng-click="doneClick()" ng-bind="doneLabel"></button>
    </div>
</div>


<div class="panel panel-default" ng-controller="DiagnosticCtrl">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-download"></i> Сборщик данных для диагностики</h3>
    </div>
    <div class="panel-body">
        <span ng-show="!ready" class="label label-warning">
          Сервис диагностики недоступен
        </span>
        <button id="collectDiag" type="button" class="btn btn-success btn-lg"
                 ng-click="diag()" ng-show="ready">Собрать данные для диагностики</button>

        <button id="downloadDiag" type="button" disabled class="btn btn-success btn-lg"
                 ng-click="downloadDiag()">Нет данных</button>
    </div>
</div>
