
<h1 class="page-header" translate>{{'ui.title'}}</h1>

<div class="row">
    <login-form></login-form>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> {{'ui.common.title' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th translate>{{'ui.common.name'}}</th>
                            <th translate>{{'ui.common.value'}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='setting in $ctrl.settings'>
                            <td>{{ setting.name }}</td>
                            <td>{{ setting.value }}</td>
                        </tr>
                        <tr>
                            <td translate>
                                {{'ui.common.default'}}
                                <a ng-show='$ctrl.defaultDashboard'
                                   user-role="mto" current-role="$ctrl.roles.current.role"
                                   ui-sref="dashboard({ id: $ctrl.defaultDashboard.id })"><i class="glyphicon glyphicon-edit black medium"></i></a>
                                <a ng-show='$ctrl.defaultDashboard'
                                   ui-sref="dashboard({ id: $ctrl.defaultDashboard.id })"><i class="glyphicon glyphicon-play-circle black medium"></i></a>
                            </td>
                            <td class="text-center">
                                <select ng-model="$ctrl.defaultDashboard" ng-options="dashboard.name for dashboard in $ctrl.dashboards | filter:{} track by dashboard.id" ng-change="$ctrl.changeDefaultDashboard()">
                                    <option value="" translate>{{'ui.common.choose'}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td translate>
                                {{'ui.common.language'}}
                            </td>
                            <td class="text-center">
                                <select ng-model="$ctrl.language" ng-change="$ctrl.changeLanguage()">
                                    <option value="en">English</option>
                                    <option value="ru">Русский</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
