.wb-jsonEditor-propertyDescription {
    display: block;
    color: var(--gray-color);
    margin-top: 5px;
    margin-bottom: 0px;
    flex-basis: 100%;
}

.wb-jsonEditor-defaultText {
    padding: .1em .3em;
    white-space: break-spaces;
    background-color: var(--light-gray-color);
    border-radius: 6px;
}

.wb-jsonEditor-propertyDropdownError > div.dropdown__control,
.wb-jsonEditor-propertyInputError {
    border-color: var(--danger-color);
}

.wb-jsonEditor-errorText {
    color: var(--danger-color);
    margin-top: 5px;
    margin-bottom: 0px;
}

.wb-jsonEditor-optionalParamsList {
    padding: 0px 16px 16px 16px;
}

.wb-jsonEditor-descriptionText {
    white-space: pre-wrap;
}

.wb-jsonEditor-objectEditor {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wb-jsonEditor-objectEditorWithBorder {
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);
    background: var(--background-accent-color-hover);
    padding: 12px;
}

.wb-jsonEditor-objectEditorRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.wb-jsonEditor-objectProperty {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.wb-jsonEditor-propertyCheckbox {
    margin-bottom: 5px !important;
    white-space: nowrap;
}

.wb-jsonEditor-propertyCheckboxError {
    color: var(--danger-color);
}

.wb-jsonEditor-propertyLabel {
    white-space: nowrap;
}

.wb-jsonEditor-propertyLabelError {
    color: var(--danger-color);
}

.wb-jsonEditor-arrayEditor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wb-jsonEditor-arrayEditor-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}

.wb-jsonEditor-addButton {
    max-width: 100px;
}

.wb-jsonEditor-booleanEditorSwitch {
    display: flex;
    gap: 10px;
}

.wb-jsonEditor-booleanEditorSwitchLabel {
    margin: 0px;
}
