.deviceCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-bottom: 2px;
    position: relative;
    min-height: 26px;
    flex-grow: 1;
    width: 100%;
}

.deviceCell:has(.deviceCell-alert):not(:hover) {
    gap: 0;
}

.deviceCell-error,
.deviceCell-error .deviceCell-units {
    color: var(--danger-color);
}

.deviceCell-periodErrorIcon {
    width: 18px;
    height: 18px;
    color: var(--danger-color);
}

.deviceCell-columns {
    flex-direction: column;
    align-items: flex-start;
}

.deviceCell-name {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    justify-content: space-between;
}

.deviceCell-errorPeriod .deviceCell-name {
    justify-content: flex-start;
}

.deviceCell-alert {
    cursor: pointer;
}

.deviceCell-textWrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 6px;
    align-items: center;
}

.deviceCell-text {
    overflow-x: auto;
    text-align: right;
    max-width: 260px;
    flex-grow: 1;
    font-size: 13px;
    cursor: pointer;
}

.deviceCell-text::-webkit-scrollbar {
    height: 8px;
}

.deviceCell-text::-webkit-scrollbar-track {
    background: var(--light-gray-color);
    border-radius: 4px;
    cursor: pointer;
}

.deviceCell-text::-webkit-scrollbar-thumb {
    background: var(--input-action-background);
    border-radius: 4px;
}

.deviceCell-text::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-hover);
    cursor: pointer;
}

.deviceCell-valueWrapper {
    display: flex;
    flex-shrink: 0;
    gap: 6px;
    align-items: center;
}

.deviceCell-value {
    justify-items: end;
    flex-shrink: 0;
    cursor: pointer;
}

.deviceCell-units {
    font-size: 12px;
    color: var(--gray-color);
}

.deviceCell-space {
    width: 4px;
    height: 4px;
    display: inline-block;
    content: '\u2009';
}

.deviceCell-historyLink {
    display: block;
    width: 0;
    min-width: 0;
    height: 18px;
    transition: width ease 200ms, min-width ease 200ms;
    cursor: pointer;
}

.deviceCell:hover .deviceCell-historyLink,
.deviceCell:focus-within .deviceCell-historyLink {
    min-width: 18px;
}
