:root {
    --background-color: #fff;

    --primary-color: #337ab7;
    --primary-color-hover: #5393c8;
    --secondary-color: #fff;
    --secondary-color-hover: #e6e6e6;
    --success-color: #739e73;
    --success-color-disabled: #739e73;
    --success-color-hover: #5b835b;
    --success-color-border: #659265;
    --warn-color: #eebc40;
    --warn-color-hover: #fecb4b;
    --orange-color: #ea8623;
    --danger-color: #dc3545;
    --danger-color-hover: #f73b3b;
    --gray-color: #888;
    --light-gray-color: #d7dcdf;
    --border-color: #eee;
    --content-background: #fff;
    --link-color: #5393c8;
    --brand-color: #5cb300;
    --brand-color-hover: #68ca00;

    --nav-bg: rgb(34, 34, 34);
    --nav-sublist-bg: rgb(56, 56, 56);
    --nav-border: rgba(34, 34, 34, 0.5);
    --nav-item-active: rgb(22, 22, 22);
    --nav-item-hover: var(--nav-item-active);
    --nav-text-color: rgb(144, 144, 144);
    --nav-font-size: var(--font-size-medium);
    --nav-status-online-color: rgb(92, 179, 0);
    --nav-toggle-bg: rgb(206, 206, 206);
    --nav-toggle-text-color: var(--nav-text-color);
    --nav-status-color: #fff;
    --nav-debug-enabled-color: var(--orange-color);

    --font-size-small: 13px;
    --font-size-medium: 14px;
    --font-size-large: 16px;

    --scrollbar-color: var(--gray-color);
    --scrollbar-background: #0000;

    --font: "Open Sans", Arial, Helvetica, Sans-Serif;

    --input-action-background: #3498db;
    --input-active-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(38, 167, 255, 0.5);
    --input-active-shadow-transition: box-shadow 200ms linear;
    --input-background: #fff;
    --input-color: #495057;
    --input-border-color: #ced4da;
    --input-border-radius: 4px;

    --button-color: #fff;

    --card-header-background: var(--primary-color);
    --card-header-bottom: var(--primary-color);
    --card-header-padding: 12px;
    --card-header-text: #fff;
    --card-border-radius: 2px;
    --card-body-background: var(--content-background);
    --card-body-padding: 8px 12px;
    --text-color: #333;

    --alert-color: var(--text-color);
    --alert-info-background: #d1ecf1;
    --alert-info-border: #bee5eb;
    --alert-success-background: #d4edda;
    --alert-success-border: #c3e6cb;
    --alert-warn-background: #fff3cd;
    --alert-warn-border: #ffeeba;
    --alert-danger-background: #f8d7da;
    --alert-danger-border: #f5c6cb;

    --notification-box-shadow: 0 4px 10px -2px #aa9c9c;

    --tooltip-background: #333;
    --tooltip-color: #fff;

    --table-item-hover: #fbfbfb;
}

.wirenboard {
    --primary-color: #5cb300;
    --primary-color-hover: #68ca00;

    --input-action-background: var(--primary-color);
    --input-active-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--primary-color);

    --card-header-background: #e2e5e8;
    --card-header-text: black;
    --card-border-radius: 6px;

    --nav-bg: rgb(238, 238, 238);
    --nav-sublist-bg: rgb(225, 225, 225);
    --nav-border: rgba(238, 238, 238, 0.5);
    --nav-item-active: var(--primary-color);
    --nav-item-hover: var(--nav-item-active);
    --nav-text-color: var(--text-color);
    --nav-toggle-bg: rgb(205, 205, 205);
    --nav-toggle-text-color: rgb(128, 128, 128);
    --nav-status-color: var(--nav-text-color);
    --nav-debug-enabled-color: #e06400;
}

.dark {
    color-scheme: dark;

    --background-color: #1d1e2e;

    --primary-color: #5d2ae4;
    --primary-color-hover: #5018e1;
    --secondary-color: #616991;
    --light-gray-color: #616991;
    --content-background: #232436;
    --border-color: #2a2d41;
    --link-color: #00b7f3ff;

    --input-action-background: var(--primary-color);
    --input-active-shadow: 0 0 0 2px #1d1e2e, 0 0 0 4px var(--primary-color);
    --input-background: #2a2d41;
    --input-color: #fff;
    --input-border-color: var(--light-gray-color);

    --card-header-background: #2a2d41;
    --card-header-text: #fff;
    --card-body-background: var(--content-background);
    --card-border-radius: 6px;
    --text-color: #e1e8ec;

    --alert-color: #fff;
    --alert-info-background: #7676ff;
    --alert-info-border: #7676ff;
    --alert-success-background: #4ea823;
    --alert-success-border: #4ea823;
    --alert-warn-background: #eebc40;
    --alert-warn-border: #eebc40;
    --alert-danger-background: #dc3545;
    --alert-danger-border: #dc3545;

    --notification-box-shadow: 0 4px 10px -2px var(--input-background);

    --tooltip-background: #7676ff;
    --tooltip-color: #fff;

    --nav-bg: rgb(23, 23, 39);
    --nav-sublist-bg: rgb(44, 45, 62);
    --nav-border: rgba(23, 23, 39, 0.5);
    --nav-item-active: rgb(16 16 32);
    --nav-item-hover: var(--nav-item-active);
    --nav-text-color: rgb(129, 130, 151);
    --nav-toggle-bg: rgb(47, 48, 65);
}
