@import 'themes/light.css';
@import 'themes/dark.css';
@import 'themes/bootstrap.css';

:root {
    --font: 'Roboto', sans-serif;
    --font-size-small: 13px;
    --font-size-medium: 14px;
    --font-size-large: 15px;

    --brand-color: #5cb300;
    --brand-color-hover: #68ca00;

    --scrollbar-color: var(--gray-color);
    --scrollbar-background: #0000;

    --content-gap: 16px;
}
