.device-manager-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.device-manager-page .nav-tabs li.active {
    box-shadow: 0 -2px 0 #3276b1;
    border-top-width: 0 !important;
    font-weight: 700;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

.device-manager-page .nav-tabs {
    border-bottom: 0px;
}

.device-manager-page .nav-stacked li,
.device-manager-page .nav-tabs li {
    cursor: pointer;
}

.device-manager-page .nav-stacked li:not(.active):hover,
.device-manager-page .nav-tabs li:not(.active):hover
.device-manager-page .nav-tabs li:not(.active):focus,
.device-manager-page .nav-stacked li:not(.active):focus {
    background-color: #eee;
}

.device-manager-page .nav-stacked li {
    border-radius: 2px;
}
.device-manager-page .nav-stacked li.active {
    color: #fff;
    background-color: #3276b1;
}

.device-manager-page .port-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 9px 10px;
    gap: 3px;
}

.device-manager-page .port-tab .glyphicon {
    top: unset;
}

.device-manager-page .port-tab span {
    flex-grow: 1;
}

.device-manager-page li:not(.active):not(:hover):not(:focus) .port-tab {
    background-color: #f5f5f5;
    border-radius: 2px;
}

.device-manager-page .device-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 9px 10px 20px;
    gap: 3px;
}

.device-manager-page .device-tab span {
    flex-grow: 1;
}

.device-manager-page .tab-content.well.well-small {
    margin-bottom: 0px;
}

.device-manager-page .button-group button:not(:first-child) {
    margin-left: 5px;
}

.device-manager-page .device-tab-content .delete-button {
    margin-top: 15px;
}

.device-manager-page .glyphicon-exclamation-sign {
    color: #a90329;
}

.device-manager-page .add-port-button {
    width: 100%;
    margin-top: 10px;
}

.device-manager-page .device-settings {
    flex-grow: 1;
    height: 1px;
    display: flex;
    flex-direction: row;
}

.device-manager-page .device-list-panel {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 20%;
    flex-shrink: 0;
    max-width: 250px;
}

.device-manager-page .settings-panel {
    overflow-y: scroll;
    padding-bottom: 10px;
    flex-grow: 1;
}

.device-manager-page .device-list {
    overflow-y: scroll;
    flex-grow: 1;
}