.network-connections-page .connection-item {
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.network-connections-page .connection-item > i {
    font-size: 14pt;
    margin-right: 5px;
}

.network-connections-page li:not(.active) .connection-item.deprecated:not(:hover) {
    background-color: #fcf8e3;
}

.network-connections-page .deprecated {
    color: #c09853;
}

.network-connections-page .not-connected i,
.network-connections-page .deactivated-by-cm i,
.network-connections-page .unknown i {
    color: #b1b1b1;
}

.network-connections-page .activating i,
.network-connections-page .deactivating i,
.network-connections-page .deactivating-by-cm i {
    color: #dfb56c;
}

.network-connections-page .activated i {
    color: #00d000;
}

.network-connections-page .add-connection-button {
    width: 100%;
    margin-top: 5px;
    white-space: normal;
}

.network-connections-page .buttons-holder > *:not(:first-child) {
    margin-left: 10px;
}

.network-connections-page .modal.in > .modal-dialog {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
}

@media (max-width: 767px) {
    .network-connections-page .modal.in > .modal-dialog {
        width: 95%;
    }
}

.network-connections-page .tab-pane-header-label {
    margin-top: 7px;
}

.network-connections-page .can-bus {
    content: url("../../images/canbus.png");
    width: 23px;
}

.network-connections-page .wifi-ap:before {
    font-family: "wb icons" !important;
    content: "\f101";
    font-size: 17pt;
}

.network-connections-page .tab-title {
    padding: 10px 9px 10px;
}

.network-connections-page .priority-item {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.network-connections-page .priority-item > *:not(:first-child) {
    margin: 0px 0px 0px 10px;
}

.network-connections-page .priority-item-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: grab;
    touch-action: none;
}

.network-connections-page .priority-item:not(.is-dragging) .priority-item-content:focus {
    outline: 1px dotted gray !important;
}

.network-connections-page .priority-group {
    padding: 10px 10px 10px 10px;
    min-height: 77px;
}

.network-connections-page .priority-group > *:not(:first-child) {
    margin: 10px 0px 0px 0px;
}

.network-connections-page .is-over {
    background-color: #eee;
}

.network-connections-page .is-dragging {
    z-index: 1;
}

.network-connections-page .is-dragging * {
    cursor: grabbing;
}

.network-connections-page .nav-tabs li.active {
    box-shadow: 0 -2px 0 var(--primary-color);
    border-top-width: 0 !important;
    font-weight: 700;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

.network-connections-page .tab-content {
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
}

.network-connections-page .nav-tabs {
    border-bottom: 0px;
}

.network-connections-page .nav-stacked li,
.network-connections-page .nav-tabs li {
    cursor: pointer;
}

.network-connections-page .nav-stacked li:not(.active):hover,
.network-connections-page .nav-tabs li:not(.active):hover {
    background-color: #eee;
}

.network-connections-page .nav-tabs li:not(.active):focus,
.network-connections-page .nav-stacked li:not(.active):focus {
    background-color: #eee;
}

.network-connections-page .nav-stacked li {
    border-radius: 2px;
}
.network-connections-page .nav-stacked li.active {
    color: #fff;
    background-color: var(--primary-color);
}
.network-connections-page .nav-stacked li > *:first-child {
    padding: 10px 9px 10px;
}

.network-connections-page .nav-pills {
    padding-bottom: 10px;
}

.network-connections-page .tab-content.well.well-small {
    margin-bottom: 0px;
}

.network-connections-page .switcher-desc {
    margin-bottom: 10px;
}
