

.pointer {
    cursor: pointer;
}

.pointer-none{
    pointer-events:none;
    opacity: 0.5;  /*cursor: auto;*/
}


.custom-tooltip .tooltip-inner {
    max-width: 300px;
}

.custom-tooltip.cell-name-tooltip {
  left: 0% !important;
}

.custom-tooltip.cell-name-tooltip .tooltip-arrow {
  left: 20px !important;
}

.show-on-parent-hover {
    display: none;
}

*:hover > .show-on-parent-hover {
    display: block;
}

.border-bottom {
    border-bottom: 1px solid #ccc
}

#jarviswidget-fullscreen-mode .widget-body {
    min-height: 100vh;
}

#jarviswidget-fullscreen-mode .only-fullscreen, .not-fullscreen {
    display: block!important
}


.only-fullscreen, #jarviswidget-fullscreen-mode .not-fullscreen{
    display: none!important
}

.alert-danger a {
    color: #404040;
}

.label.label-custom {
    margin-right: 10px;
    padding: .2em .4em .3em .6em;
}

.table-scroll {
    display: block;
    max-width: 100%;
    min-height: 500px;
    overflow: auto
}

div[uib-datepicker-popup-wrap] {
    z-index: 10000;
    position: relative;
}

.relative {
    position: relative;
}

.floating {
    position: absolute;
}

.spinner-floating {
    position: relative;
    width: 33px;
    margin: 0 auto;
}

.spinner-floating .spinner{
    position: absolute;
}

.hidden-picker .form-group.uib-time {
     pointer-events: none;
     opacity: 0.9
 }

.turn-off-group-button .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.stretch-height {
    min-height: calc(100vh - 200px)
}

.relative {
    position: relative;
}
.progress-history{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
.history-page select{
    margin-bottom: 5px;
}
.history-page .progress {
    margin-bottom: 1px;
    height: 32px;
}
.history-page .progress-bar > div {
    font-size: 11px;
    margin-top: 7px;
}

@media (max-width: 991px){
    .history-page .progress {
        height: 4px;
        margin-bottom: 1px;
    }
    .history-page select{
        margin-bottom: 1px;
    }
    .progress-bar {
        font-size: 1px;
    }
}

.device-panel .display-cell{
    cursor: pointer;
}

.cell.cell-value {
  display: flex;
}

.cell-value .value {
    margin-right: -10px;
    width: 110px;
    display: inline-block;
}

.cell-value span{
    display: inline-block;
    vertical-align: bottom;
}

.value .int {
    display: inline-block;
    width: 50px;
}

.value .int span {
    float: right;
}

.cell-value .units {
    width: 20px;
    white-space: nowrap;
}

.value .decimal, .value .comma {
    margin-left: -7px;
}

.value .decimal {
    width: 40px;
    overflow: hidden;
}

.ma-0 {
    margin: 0px;
}

.wb-navbar-brand {
  padding: 7px 10px;
}

.devices-panel-list .device-panel:not(:last-child) {
  margin-bottom: 18px;
}

.devices-panel-list .device-panel + .device-panel {
  margin-top: 0;
}

.device-panel {
  width: 380px;
  border: none !important;
  box-shadow: none;
  margin-right: 18px;
}

@media (max-width: 410px) {
  .devices-panel-list > div,
  .panel-group > div,
  .device-panel {
    width: 100%;
  }
}

.device-panel > .panel-heading {
  background-color: #3276b1;
  color: white;
  padding: 0;
  border: none !important;
  position: relative;
}

.device-panel__header-delete-button {
  position: absolute;
  opacity: 0;
  top: 8px;
  right: 40px;
  padding: 6px;
  font-size: 12px;
  transition: opacity .2s;
}

.device-panel:hover .device-panel__header-delete-button {
  opacity: 0.8;
}

.device-panel:hover .device-panel__header-delete-button:hover {
  opacity: 1;
}

.device-panel__header-wrapper {
  position: relative; 
  background-color: #3276b1; 
  color: white;
}

.device-panel__header {
  padding: 10px 15px;
  height: 40px;
}

.device-panel__header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.device-panel__header-glyphicon {
  font-size: 10px;
}

.device-panel__header-title,
.device-panel__header-glyphicon {
  line-height: 18px;
}

.device-panel .panel-body {
  padding: 0;
  border: none !important;
}

.device-panel__body {
  border: 1px solid #3276b1;
  border-top: 0px;
  padding: 10px;
}

.device-panel__body .display-cell + .display-cell {
  margin-top: 2px;
}

.panel-group {
  display: flex;
}

.side-nav a.active::before {
  content: "\F0D9";
  font-family: FontAwesome;
  display: block;
  height: 27px;
  line-height: normal;
  width: 27px;
  position: absolute;
  right: -21px;
  font-size: 20px;
  color: #eee;
}

@media screen and (max-width: 767px) {
  .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 13px;
  }

  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar-inverse > * {
    background-color: black;
  }
 
  .navbar-collapse {
    min-height: 100vh;
    width: 250px;
    max-width: 250px;
    margin-left: -250px;
    transition: margin 0.35s;    
    overflow-x: hidden;
  }
  
  .navbar-collapse.in {
    margin-left: 0px;
  }

  .nav.navbar-nav.side-nav {
    padding-bottom: 50px;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  transition: all .35s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}