.svg-view-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.svg-view-page .view-svg-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.svg-view-page svg {
    height: unset;
    width: unset;
}

.svg-view-page .fit-to-page {
    flex-grow: 1;
    height: 1px;
}

.svg-view-page .fit-to-page svg {
    height: 100%;
    width: 100%;
}

.svg-view-page .button-group button:not(:first-child) {
    margin-left: 5px;
}

.svg-view-page .switch {
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.svg-view-page .page-header {
    text-align: left;
}

.svg-view-page .carousel-root {
    flex-grow: 1;
}

.svg-view-page .carousel,
.svg-view-page .slider-wrapper,
.svg-view-page .slider {
    height: 100%;
}

@media (max-width: 767px) {
    .svg-view-page {
        padding-bottom: 5px;
    }
}
