.wb-switch {
  font-family: Trebuchet,Arial,sans-serif;
  width: 58px;
  height: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.wb-switch-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
}

.wb-switch-label {
  margin-top: 4px;
  position: relative;
  display: block;
  height: 17px;
  font-size: 10px;
  font-weight: 700;
  background: white;
  border-radius: 17px;
  border: 1px solid #9a9a9a;
}

.wb-switch-label:before,
.wb-switch-label:after {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 24px);
}

.wb-switch-label:before {
  content: attr(data-off);
  color: #555;
  margin-right: 3px;
  margin-left: 21px;
}

.wb-switch-label:after {
  content: attr(data-on);
  color: white;
  opacity: 0;
  margin-left: 3px;
  margin-right: 21px;
}

.wb-switch-input:checked ~ .wb-switch-label {
  background: var(--primary-color);
}

.wb-switch-input:checked ~ .wb-switch-label:before {
  opacity: 0;
}

.wb-switch-input:checked ~ .wb-switch-label:after {
  opacity: 1;
}

.wb-switch-input:checked:before {
  opacity: 0;
}

.wb-switch-input:checked:after {
  opacity: 1;
}

.wb-switch:active .wb-switch-input::before,
.wb-switch:active .wb-switch-input::after {
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}

.wb-switch-input:before,
.wb-switch-input:after {
  position: absolute !important;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #9a9a9a;
  width: 21px;
  height: 21px;
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  z-index: 1;
}

.wb-switch-input:before {
  content: "\F00D";
  color: #a90329;
}

.wb-switch-input:after {
  content: "\F00C";
  color: #57889c;
  opacity: 0;
}

.wb-switch-input:checked {
  left: unset;
  right: 21px;
}
