<div
  class="cell cell-range"
  ng-click="cell.copy(cell.value, true)"
  tooltip-popup-close-delay="500"
  uib-tooltip="'{{ copyText }}' {{ 'widgets.labels.copy' | translate}}"
  tooltip-trigger="{
    'outsideClick': 'mouseleave',
    'focus': 'mouseleave'
  }"
  tooltip-class="custom-tooltip"
>
  <div
    range-slider
    min="min"
    max="max"
    step="step"
    model-max="_value"
    pin-handle="min"
    attach-handle-values
    disabled="cell.readOnly"
    on-handle-up='handleUp()'></div>

  <span class="value-wrapper">
    <span ng-if="!!cell.units" class="units">{{ rCtrl.getUnitsName(cell) }}</span>
  </span>
</div>
