<div
  ng-click="cell.copy(cell.value, cell.readOnly)"
  tooltip-popup-close-delay="500"
  uib-tooltip="'{{ copyText }}' {{ 'widgets.labels.copy' | translate}}"
  tooltip-trigger="{
    'outsideClick': 'mouseleave',
    'focus': 'mouseleave'
  }"
  tooltip-enable="{{ cell.readOnly }}"
  class="text-cell"
>
  <p
    ng-if="cell.readOnly"
    class="cell cell-text"
  >
    {{ cell.value }}
  </p>
  <input
    ng-hide="cell.readOnly"
    ng-model="cell.value"
    type="text"
    class="cell cell-text"
    explicit-changes
  >
</div>