<span class="cell cell-value">
  <input ng-if="cell.valueType == 'number' && !cell.readOnly" type="number"
         min="{{ cell.min }}" max="{{ cell.max }}" step="{{ cell.step }}"
         ng-model="cell.value" explicit-changes>
  <span ng-if="cell.readOnly" class="value">
    <span style="display:none">{{ __value = ('' + cell.value).split('.') }}</span>
    <span class="cell-value-with-unit">
      {{ __value[0] }}{{ __value[1] ? '.'+__value[1] : '' }} {{ cell.units }}
    </span>
  </span>
</span>
