<form editable-form name="widgetForm" class="widget panel panel-primary"
      onshow="ctrl.prepareToEdit()"
      onbeforesave="ctrl.verify()"
      onaftersave="ctrl.commit()"
      oncancel="ctrl.cancel()">
  <div class="panel-heading">
    <span editable-text="ctrl.source.name"
          onbeforesave="ctrl.checkNonEmpty($data, 'Empty widget name is not allowed')"
          class="widget-name">{{ ctrl.source.name }}</span>
    <span ng-show="!widgetForm.$visible"
          ng-click="widgetForm.$show()"
          class="widget-button pull-right"><i class="glyphicon glyphicon-edit white widget-caption-button"></i></span>
    <!-- TBD: use CSS to show/hide edit buttons
    <a href="" ng-click="deleteWidget(widget)" ng-show="widget.canEdit" class="pull-right"><i class="glyphicon glyphicon-remove white widget-caption-button"></i></a>
    -->
  </div>
  <div class="panel-body">
    <div ng-if="!widgetForm.$visible" ng-repeat="item in ctrl.source.cells">
      <display-cell compact="ctrl.source.compact" cell="item.id" override-name="item.name"></display-cell>
    </div>
    <label ng-if="widgetForm.$visible">
      <input name="compact" type="checkbox" ng-model="ctrl.source.compact">
      Compact mode
    </label>
    <table class="table table-bordered" ng-if="widgetForm.$visible">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody sv-root sv-part="ctrl.source.cells">
        <tr class="room" ng-repeat="cell in ctrl.source.cells" sv-element>
          <th scope="row" >{{ $index+1 }}</th>
          <td><span editable-text="cell.name">{{ cell.name }}</span></td>
          <td><span class="cell-type">{{ ctrl.cellTypeFromId(cell.id) }}</span></td>
          <td class="text-center">
            <button name="delete" type="button" ng-show="widgetForm.$visible"
                    ng-click="ctrl.deleteCell(cell)" class="btn btn-danger pull-right">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="add-cell" ng-if="widgetForm.$visible">
      <select name="type-filter" ng-options="name for name in ctrl.cellTypeNames track by name"
              ng-model="ctrl.cellType"></select>
      <cell-picker placeholder="Add control..."
                   ng-model="ctrl.newCellId" filter-by-type="ctrl.cellTypeFilter()"></cell-picker>
    </div>

    <div class="btn-form" ng-show="widgetForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="!ctrl.source.cells.length">Save</button>
      <button name="cancel" type="button" ng-click="widgetForm.$cancel()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
