<form editable-form
      name="widgetForm"
      class="widget panel panel-primary display-cell-bin"
      ng-class="{ 'compact': ctrl.source.compact && !widgetForm.$visible, 'display-cell-bin': !ctrl.source.compact && !widgetForm.$visible }"
      onshow="ctrl.prepareToEdit()"
      onbeforesave="ctrl.verify()"
      onaftersave="ctrl.commit()"
      oncancel="ctrl.cancel()">
  <div class="panel-heading">
    <span editable-text="ctrl.source.name"
          onbeforesave="ctrl.checkNonEmpty($data, 'Empty widget name is not allowed')"
          class="widget-name">{{ ctrl.source.name }}</span>
    <span ng-show="!widgetForm.$visible"
          ng-click="widgetForm.$show()"
          title="Edit widget"
          class="widget-button widget-button-edit"><i class="glyphicon glyphicon-edit white widget-caption-button"></i></span>
    <span ng-click="ctrl.onDelete()"
          title="Delete widget"
          class="widget-button widget-button-delete"><i class="glyphicon glyphicon-trash white widget-caption-button"></i></span>
    <span ng-click="ctrl.onRemove()"
          title="Remove from this dashboard"
          class="widget-button widget-button-remove"><i class="glyphicon glyphicon-remove white widget-caption-button"></i></span>
  </div>
  <div class="panel-body">
    <display-cell ng-if="!widgetForm.$visible"
                  ng-repeat="item in ctrl.source.cells"
                  compact="ctrl.source.compact" cell="item.id" override-name="item.name"></display-cell>
    <label ng-if="widgetForm.$visible">
      <input name="compact" type="checkbox" ng-model="ctrl.source.compact">
      Compact mode
    </label>
    <table class="table" ng-if="widgetForm.$visible && ctrl.source.cells.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody sv-root sv-part="ctrl.source.cells">
        <tr class="room" ng-repeat="cell in ctrl.source.cells" sv-element>
          <th scope="row" >{{ $index+1 }}</th>
          <td><span editable-text="cell.name">{{ cell.name }}</span></td>
          <td><span class="cell-type">{{ ctrl.cellTypeFromId(cell.id) }}</span></td>
          <td class="text-center">
            <button name="delete" type="button" ng-show="widgetForm.$visible"
                    ng-click="ctrl.deleteCell(cell)" class="icon-button pull-right"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="add-cell" ng-if="widgetForm.$visible">
      <label>
        Find controls of type
        <select name="type-filter" ng-options="name for name in ctrl.cellTypesUsed track by name"
                ng-model="ctrl.cellType" class="form-control"></select>
      </label>
      <cell-picker placeholder="Add control..."
                   ng-model="ctrl.newCellId" filter-by-type="ctrl.cellTypeFilter()"></cell-picker>
    </div>

    <div class="btn-form" ng-show="widgetForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="!ctrl.source.cells.length">Save</button>
      <button name="cancel" type="button" ng-click="widgetForm.$cancel()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
