<form editable-form
      name="widgetForm"
      class="widget panel panel-primary display-cell-bin"
      ng-class="{ 'compact': ctrl.source.compact && !widgetForm.$visible, 'display-cell-bin': !ctrl.source.compact && !widgetForm.$visible }"
      onshow="ctrl.prepareToEdit()"
      onbeforesave="ctrl.verify()"
      onaftersave="ctrl.commit()"
      oncancel="ctrl.cancel()">
  <div class="panel-heading">
    <span editable-text="ctrl.source.name"
          onbeforesave="ctrl.checkNonEmpty($data, 'Empty widget name is not allowed')"
          class="widget-name">{{ ctrl.source.name }}</span>
    <span ng-show="!widgetForm.$visible"
          user-role="mto" current-role="ctrl.roles.current.role"
          ng-click="widgetForm.$show()"
          title="Edit widget"
          class="widget-button widget-button-edit"><i class="glyphicon glyphicon-edit white widget-caption-button"></i></span>
    <span ng-if="ctrl.canDelete()"
          user-role="mto" current-role="ctrl.roles.current.role"
          ng-click="ctrl.onDelete()"
          title="Delete widget"
          class="widget-button widget-button-delete"><i class="glyphicon glyphicon-trash white widget-caption-button"></i></span>
    <span ng-if="ctrl.canRemove()"
          user-role="mto" current-role="ctrl.roles.current.role"
          ng-click="ctrl.onRemove()"
          title="Remove from this dashboard"
          class="widget-button widget-button-remove"><i class="glyphicon glyphicon-remove white widget-caption-button"></i></span>
    <span class="widget-button widget-handle"
          ng-if="ctrl.canRemove()"
          user-role="mto" current-role="ctrl.roles.current.role"
          sv-handle><i class="glyphicon glyphicon-sort white widget-caption-button"></i></span>
  </div>
  <div class="panel-body">
    <display-cell ng-if="!widgetForm.$visible && !ctrl.editJsonMode"
                  ng-repeat="item in ctrl.source.cells"
                  compact="ctrl.source.compact" cell="item" override-name="item.name"></display-cell>
    <div ng-if="widgetForm.$visible && !ctrl.editJsonMode">
      <label>
      <input name="compact" type="checkbox" ng-model="ctrl.source.compact">
      Compact mode
    </label>
      <span class="pull-right text-danger" popover-trigger="'mouseenter'" ng-if="ctrl.multipleDashboards"
            uib-popover="You added this widget to several dashboards, so when applying changes, they will be applied on each.">
        Сhanges affect other dashboards
      </span>
      <table class="table cells-list" ng-if="ctrl.source.cells.length > 0">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody sv-root sv-part="ctrl.source.cells">
        <tr class="room" ng-repeat="cell in ctrl.source.cells" sv-element>
          <td scope="row" class="cell-actions">
            <label ng-if="ctrl.cellTypeFromId(cell.id) == 'switch'">
              <input type="checkbox" ng-model="cell.extra.invert">
              <span class="action-name"> Invert </span>
            </label>
          </td>
          <td class="cell-name"><span editable-text="cell.name">{{ cell.name }}</span></td>
          <td><span class="cell-type">{{ ctrl.cellTypeFromId(cell.id) }}</span></td>
          <td class="text-center remove-cell">
            <button name="delete" type="button" ng-show="widgetForm.$visible"
                    ng-click="ctrl.deleteCell(cell)" class="icon-button pull-right"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="add-cell">
      <label>
        Find controls of type
        <select name="type-filter" ng-options="name for name in ctrl.cellTypesUsed track by name"
                ng-model="ctrl.cellType" class="form-control"></select>
      </label>
      <cell-picker placeholder="Add control..."
                   ng-model="ctrl.newCellId" filter-by-type="ctrl.cellTypeFilter()"></cell-picker>
    </div>
      <div class="widget-description"
         placeholder="Widget description"
         editable-elastic-textarea="ctrl.source.description">{{ ctrl.source.description }}</div>
      <div class="btn-form">
      <button type="submit" class="btn btn-primary" ng-disabled="!ctrl.source.cells.length">Save</button>
      <button name="cancel" type="button" ng-click="widgetForm.$cancel()" class="btn btn-default">Cancel</button>
        <button name="cancel" type="button" ng-click="widgetForm.$submit() || ctrl.enableEditJsonMode()" class="btn btn-default pull-right">Edit as JSON</button>
    </div>
    </div>
    <div ng-if="ctrl.editJsonMode">
      <textarea class="widget-json-settings" ng-model="ctrl.jsonSource">{{ ctrl.jsonSource }}</textarea>
      <div class="btn-form">
        <button name="submit" type="submit" ng-click="ctrl.updateSourceFromJson(true) || widgetForm.$hide()" class="btn btn-primary" ng-disabled="!ctrl.jsonSource.length">Save</button>
        <button name="cancel" type="button" ng-click="widgetForm.$cancel() || ctrl.disableEditJsonMode()" class="btn btn-default">Cancel</button>
        <button name="cancel" type="button" ng-click="ctrl.updateSourceFromJson() || widgetForm.$show()" class="btn btn-default pull-right">Visual editor</button>
      </div>
    </div>

  </div>
</form>
